Repository brainboxdotcc/DPP, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, build, packaging, submodules, github_actions, code

refactor: changed the way message holds files
  include/dpp/message.h
  src/dpp/message.cpp
Labels: documentation, code

refactor: changed the way appcommands uses message file data
  src/dpp/cluster/appcommand.cpp
Labels: code

refactor: changed the way cluster/message uses message file data
  src/dpp/cluster/message.cpp
Labels: code

fix: fixed up some build errors from previous pushes
  src/dpp/cluster/thread.cpp
  src/dpp/cluster/webhook.cpp
  src/dpp/dispatcher.cpp
Labels: code

refactor: changed post_rest_multipart
  include/dpp/cluster.h
  src/dpp/cluster.cpp
  src/dpp/cluster/appcommand.cpp
  src/dpp/cluster/message.cpp
  src/dpp/cluster/thread.cpp
  src/dpp/cluster/webhook.cpp
  src/dpp/dispatcher.cpp
Labels: documentation, code

fix: corrected a build issue and moved around message_file_data
  include/dpp/cluster.h
  include/dpp/message.h
  src/dpp/cluster/webhook.cpp
Labels: documentation, code

refactor: changed the way messages holds files (#999)
  include/dpp/cluster.h
  include/dpp/message.h
  src/dpp/cluster.cpp
  src/dpp/cluster/appcommand.cpp
  src/dpp/cluster/message.cpp
  src/dpp/cluster/thread.cpp
  src/dpp/cluster/webhook.cpp
  src/dpp/dispatcher.cpp
  src/dpp/message.cpp
Labels: documentation, code

fix: voiceregion now fills correctly, removed VIP from regions. (#997)
  include/dpp/voiceregion.h
  src/dpp/voiceregion.cpp
Labels: documentation, code

style: corrected some left over style issues. (#998)
  include/dpp/emoji.h
  include/dpp/isa/avx.h
  include/dpp/isa/avx2.h
  include/dpp/isa/avx512.h
  include/dpp/voicestate.h
  src/dpp/utility.cpp
  src/dpp/voicestate.cpp
Labels: documentation, code

docs: altered the OSX page
  docpages/building/osx.md
Labels: documentation

docs: altered the OSX page (#1000)
  docpages/building/osx.md
Labels: documentation

fix: fixed unittest for mac, ctest now works
  .gitignore
  CMakeLists.txt
  library/CMakeLists.txt
  src/unittest/test.h
Labels: documentation, build, code

fix: readded EOF to gitignore
  .gitignore
Labels: none

fix: fixed unittest for mac, ctest now works (#1001)
  .gitignore
  CMakeLists.txt
  library/CMakeLists.txt
  src/unittest/test.h
Labels: documentation, build, code

docs: corrected punctuation and refs
  README.md
  docpages/INDEX.md
Labels: documentation

ci: unit tests now use ctest, macos now unit tests.
  .github/workflows/ci.yml
Labels: github_actions

fix: changed default audio type for windows
  include/dpp/discordvoiceclient.h
Labels: documentation, code

style: fixed up indentation issues
  include/dpp/discordvoiceclient.h
Labels: documentation, code

style: actually fixed indentation this time
  include/dpp/discordvoiceclient.h
Labels: documentation, code

docs: corrected documentation for send_audio_type_t
  include/dpp/discordvoiceclient.h
Labels: documentation, code

style: corrected more indentation issues
  include/dpp/discordvoiceclient.h
Labels: documentation, code

fix: changed default audio type for windows (#1004)
  include/dpp/discordvoiceclient.h
Labels: documentation, code

ci: made macos only do offline unit test
  .github/workflows/ci.yml
Labels: github_actions

docs: corrected punctuation and refs (#1002)
  README.md
  docpages/INDEX.md
Labels: documentation

ci: unit tests now use ctest, macos now unit tests (#1003)
  .github/workflows/ci.yml
Labels: github_actions

docs: added install page for brew
  docpages/install/install-brew.md
Labels: documentation

docs: added page to 03_installing.md
  docpages/03_installing.md
Labels: documentation

docs: added more info to install-brew
  docpages/install/install-brew.md
Labels: documentation

docs: changes? don't think they applied properly
  docpages/install/install-brew.md
Labels: documentation

ci: ci.yml now has a matrix for MacOS
  .github/workflows/ci.yml
Labels: github_actions

ci: ci should no longer try Ubuntu for Mac x64
  .github/workflows/ci.yml
Labels: github_actions

ci: mac x64 should work now
  .github/workflows/ci.yml
Labels: github_actions

ci: mac x64 now shows correct clang
  .github/workflows/ci.yml
Labels: github_actions

ci: Mac changes, self-hosted runner now available (#1010)
  .github/workflows/ci.yml
Labels: github_actions

docs: corrected some issues in clearing_slashcommands.cpp
  docpages/example_code/clearing_slashcommands.cpp
Labels: documentation

docs: added build from source for arch linux
  docpages/building/archlinux.md
  docpages/example_programs/the_basics/firstbot.md
  docpages/install/install-arch-aur.md
Labels: documentation

docs: fixed some conversation and added new page to 02_build.md
  docpages/building/02_build.md
  docpages/building/archlinux.md
  docpages/install/install-arch-aur.md
Labels: documentation

docs: spelling error fixed
  docpages/building/archlinux.md
Labels: documentation

docs: added copy for newbies in linux.md
  docpages/building/linux.md
Labels: documentation

docs: fixed the broken linux.md
  docpages/building/linux.md
Labels: documentation

.github/labeler.yml:

documentation:
- '**Doxyfile'
- '**docpages/**'
- '**/*.h'
- '**/documentation.yml'
- '**.cspell.json'
- '**README.md'
- '**SECURITY.md'
- '**CONTRIBUTING.md'
- '**CODE_OF_CONDUCT.md'
build:
- '**buildtools/**'
- '**cmake/**'
- '**library-vcpkg/**'
- '**library/**'
- '**win32/**'
- '**CMakeLists.txt'
- '**CMakeSettings.json'
- '**settings.json'
- '**dpp.pc.in'
packaging:
- '**vcpkg/**'
- '**makerelease.sh'
- '**sign.sh'
- '**Dockerfile'
submodules:
- '**.gitmodules'
- '**doxygen-awesome-css/**' # Ideally, nobody should be touching this, but it's here just in-case.
github_actions:
- '**.github/labeler.yml'
- '**.github/dependabot.yml'
- '**.github/workflows/**'
code:
- '**src/**'
- '**include/**'
