Repository brainboxdotcc/DPP, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, build, packaging, submodules, github_actions, code

.github/labeler.yml:

documentation:
- '**Doxyfile'
- '**docpages/**'
- '**/*.h'
- '**/documentation.yml'
- '**.cspell.json'
- '**README.md'
- '**SECURITY.md'
- '**CONTRIBUTING.md'
- '**CODE_OF_CONDUCT.md'
build:
- '**buildtools/**'
- '**cmake/**'
- '**library-vcpkg/**'
- '**library/**'
- '**win32/**'
- '**CMakeLists.txt'
- '**CMakeSettings.json'
- '**settings.json'
- '**dpp.pc.in'
packaging:
- '**vcpkg/**'
- '**makerelease.sh'
- '**sign.sh'
- '**Dockerfile'
submodules:
- '**.gitmodules'
- '**doxygen-awesome-css/**' # Ideally, nobody should be touching this, but it's here just in-case.
github_actions:
- '**.github/labeler.yml'
- '**.github/dependabot.yml'
- '**.github/workflows/**'
code:
- '**src/**'
- '**include/**'

fix: add archies changes
  src/dpp/message.cpp
Labels: code

fix: further fixes
  src/dpp/message.cpp
Labels: code

feat: added component default values (#889)
  include/dpp/message.h
  src/dpp/message.cpp
Labels: documentation, code

docs: added a page for default select menu values. Added a section in components3 for role select menus (#947)
  docpages/example_code/components3_rolemenu.cpp
  docpages/example_code/default_select_value.cpp
  docpages/example_programs/interactions_and_components/components-menu.md
  docpages/example_programs/interactions_and_components/components/components3.md
  docpages/example_programs/interactions_and_components/components/default_select_value.md
  docpages/images/default_select_value.png
  docpages/images/default_select_value_2.png
Labels: documentation

fix: make modals work again by making to_json_impl and fill_from_json virtual
  include/dpp/appcommand.h
Labels: documentation, code

fix: make modals work again by making to_json_impl and fill_from_json virtual (#950)
  include/dpp/appcommand.h
Labels: documentation, code

moved gateway event tests
  src/unittest/gateway_events.cpp
  src/unittest/test.cpp
  src/unittest/test.h
Labels: documentation, code

little refactoring spree
  src/unittest/gateway_events.cpp
Labels: code

feat: allow changing of HTTP protocol to 1.0 for backwards API endpoints and broken servers
  include/dpp/cluster.h
  include/dpp/httpsclient.h
  include/dpp/queues.h
  src/dpp/cluster.cpp
  src/dpp/httpsclient.cpp
  src/dpp/queues.cpp
Labels: documentation, code

feat: allow changing of HTTP protocol to 1.0 for backwards API endpoints and broken servers (#951)
  include/dpp/cluster.h
  include/dpp/httpsclient.h
  include/dpp/queues.h
  src/dpp/cluster.cpp
  src/dpp/httpsclient.cpp
  src/dpp/queues.cpp
Labels: documentation, code

moved cache tests
  src/unittest/cache.cpp
  src/unittest/gateway_events.cpp
  src/unittest/test.cpp
  src/unittest/test.h
Labels: documentation, code

moved utility tests
  src/unittest/test.cpp
  src/unittest/test.h
  src/unittest/utilities.cpp
Labels: documentation, code

remove unused includes
  src/unittest/test.cpp
Labels: code

feat: dpp::application is now updated
  include/dpp/application.h
  include/dpp/discordevents.h
  src/dpp/application.cpp
  src/dpp/discordevents.cpp
Labels: documentation, code

fix: re-added the id check
  src/dpp/application.cpp
Labels: code

feat: dpp::application is now updated, added set_iconhash_not_null (#953)
  include/dpp/application.h
  include/dpp/discordevents.h
  src/dpp/application.cpp
  src/dpp/discordevents.cpp
Labels: documentation, code

feat: updated integration to now contain more information
  include/dpp/integration.h
  src/dpp/integration.cpp
Labels: documentation, code

fix: removed indentation on public/protected
  include/dpp/integration.h
Labels: documentation, code

docs: added a note to settings_status for guild cache
  docpages/example_programs/misc/setting_status.md
Labels: documentation

docs: altered the note a bit
  docpages/example_programs/misc/setting_status.md
Labels: documentation

feat!: updated integration to now contain more information (#954)
  include/dpp/integration.h
  src/dpp/integration.cpp
Labels: documentation, code

handle codacy warnings
  src/unittest/http.cpp
Labels: code

fix: fix interaction_modal_response's ambiguous to_json
  include/dpp/appcommand.h
Labels: documentation, code

codacy warnings
  src/unittest/gateway_events.cpp
Labels: code

fix: fix interaction_modal_response's ambiguous to_json (#956)
  include/dpp/appcommand.h
Labels: documentation, code

docs: made changes to the notice
  docpages/example_programs/misc/setting_status.md
Labels: documentation

docs: added a note to setting_status for guild cache (#955)
  docpages/example_programs/misc/setting_status.md
Labels: documentation

feat: added roles to emojis
  include/dpp/emoji.h
  src/dpp/cluster/emoji.cpp
  src/dpp/emoji.cpp
Labels: documentation, code

feat: undone changes to cluster/emoji.cpp as not required
  src/dpp/cluster/emoji.cpp
  src/dpp/emoji.cpp
Labels: code

fix: changed user_obj back to user_id
  include/dpp/emoji.h
  src/dpp/emoji.cpp
Labels: documentation, code

refactor: removed dpp:: from snowflake in vector<> roles
  include/dpp/emoji.h
Labels: documentation, code

refactor: fixed a comment issue
  include/dpp/emoji.h
Labels: documentation, code

fix: removed dpp/user.h as it's not needed anymore
  include/dpp/emoji.h
Labels: documentation, code

feat: added application and following support for webhooks.
  include/dpp/webhook.h
  src/dpp/cluster/webhook.cpp
  src/dpp/webhook.cpp
Labels: documentation, code

fix: changed w_application to 3
  include/dpp/webhook.h
Labels: documentation, code

refactor(coro): deprecate dpp::job handler & push dpp::task instead, and remove static_assert in dpp::job
  include/dpp/coro.h
  include/dpp/coro/async.h
  include/dpp/coro/coroutine.h
  include/dpp/coro/job.h
  include/dpp/coro/task.h
  include/dpp/event_router.h
  include/dpp/export.h
  include/dpp/utility.h
  src/unittest/coro.cpp
Labels: documentation, code

fix: removed user_id from constructor, fixed comments
  include/dpp/webhook.h
  src/dpp/webhook.cpp
Labels: documentation, code

indent issue
  src/unittest/gateway_events.cpp
Labels: code

fix: webhook now uses utility::mime_type
  src/dpp/webhook.cpp
Labels: code

more indent issue
  src/unittest/discord_objects.cpp
  src/unittest/http.cpp
  src/unittest/utilities.cpp
Labels: code
