Repository brainboxdotcc/DPP, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, build, packaging, submodules, github_actions, code

.github/labeler.yml:

documentation:
- '**Doxyfile'
- '**docpages/**'
- '**/*.h'
- '**/documentation.yml'
- '**.cspell.json'
- '**README.md'
- '**SECURITY.md'
- '**CONTRIBUTING.md'
- '**CODE_OF_CONDUCT.md'
build:
- '**buildtools/**'
- '**cmake/**'
- '**library-vcpkg/**'
- '**library/**'
- '**win32/**'
- '**CMakeLists.txt'
- '**CMakeSettings.json'
- '**settings.json'
- '**dpp.pc.in'
packaging:
- '**vcpkg/**'
- '**makerelease.sh'
- '**sign.sh'
- '**Dockerfile'
submodules:
- '**.gitmodules'
- '**doxygen-awesome-css/**' # Ideally, nobody should be touching this, but it's here just in-case.
github_actions:
- '**.github/labeler.yml'
- '**.github/dependabot.yml'
- '**.github/workflows/**'
code:
- '**src/**'
- '**include/**'

docs: added subpage, altered template
  .github/PULL_REQUEST_TEMPLATE/docs_change_template.md
  docpages/04_building_a_bot.md
Labels: documentation

docs: fixed images, corrected URL for template
  docpages/make_a_bot/xcode.md
Labels: documentation

Wrote a few essays, yoinked the select menus example, separated the sending and reacting examples
  docpages/example_code/using_emoji.cpp
  docpages/example_code/using_emoji1.cpp
  docpages/example_code/using_emoji2.cpp
  docpages/example_code/using_emoji3.cpp
  docpages/example_programs/misc/using-emoji.md
  docpages/images/using_emoji.png
  docpages/images/using_emoji1.png
  docpages/images/using_emoji2.png
  docpages/images/using_emoji3.png
Labels: documentation

Actually fixed the indentation (for real this time)
  docpages/example_code/using_emoji1.cpp
Labels: documentation

fix: added fixes for clang-cl
  include/dpp/isa/avx.h
  include/dpp/isa/avx2.h
  include/dpp/isa/avx512.h
Labels: documentation, code

fix: corrected some comments
  include/dpp/isa/avx.h
  include/dpp/isa/avx2.h
  include/dpp/isa/avx512.h
Labels: documentation, code

Emoji is now plural, fixed some minor stuff
  docpages/example_code/using_emojis1.cpp
  docpages/example_code/using_emojis2.cpp
  docpages/example_code/using_emojis3.cpp
  docpages/example_programs/misc.md
  docpages/example_programs/misc/using-emoji.md
  docpages/example_programs/misc/using-emojis.md
  docpages/images/using_emojis1.png
  docpages/images/using_emojis2.png
  docpages/images/using_emojis3.png
Labels: documentation

feat: add error codes to exceptions
  .vscode/settings.json
  include/dpp/event_router.h
  include/dpp/exception.h
  include/dpp/sync.h
  src/dpp/cluster.cpp
  src/dpp/cluster/user.cpp
  src/dpp/commandhandler.cpp
  src/dpp/discordclient.cpp
  src/dpp/discordvoiceclient.cpp
  src/dpp/dns.cpp
  src/dpp/emoji.cpp
  src/dpp/etf.cpp
  src/dpp/guild.cpp
  src/dpp/message.cpp
  src/dpp/scheduled_event.cpp
  src/dpp/slashcommand.cpp
  src/dpp/sslclient.cpp
  src/dpp/webhook.cpp
Labels: documentation, code

fix spelling
  include/dpp/exception.h
Labels: documentation, code

Put slashcommand constructor into creation, rephrased select menus part
  docpages/example_code/using_emojis1.cpp
  docpages/example_code/using_emojis3.cpp
  docpages/example_programs/misc/using-emojis.md
Labels: documentation

fix reviews
  include/dpp/exception.h
  include/dpp/sync.h
Labels: documentation, code

i NEED that plural
  docpages/example_programs/misc/using-emojis.md
Labels: documentation

docs: added an xcode page for osx (#1030)
  .github/PULL_REQUEST_TEMPLATE/docs_change_template.md
  docpages/04_building_a_bot.md
  docpages/images/xcode_output.png
  docpages/images/xcode_run.png
  docpages/images/xcode_token.png
  docpages/make_a_bot/xcode.md
Labels: documentation

feat: add error codes to exceptions (#1036)
  .vscode/settings.json
  include/dpp/event_router.h
  include/dpp/exception.h
  include/dpp/sync.h
  src/dpp/cluster.cpp
  src/dpp/cluster/user.cpp
  src/dpp/commandhandler.cpp
  src/dpp/discordclient.cpp
  src/dpp/discordvoiceclient.cpp
  src/dpp/dns.cpp
  src/dpp/emoji.cpp
  src/dpp/etf.cpp
  src/dpp/guild.cpp
  src/dpp/message.cpp
  src/dpp/scheduled_event.cpp
  src/dpp/slashcommand.cpp
  src/dpp/sslclient.cpp
  src/dpp/webhook.cpp
Labels: documentation, code

fix: remove DPP_EXPORT on json_interface.h
  include/dpp/json_interface.h
Labels: documentation, code

fix: remove msvc-only `/await:strict` from clang-cl flags
  CMakeLists.txt
  library/CMakeLists.txt
Labels: build

feat: add clang-cl CMake presets
  CMakeSettings.json
Labels: build

refactor: split `dpp::thread` from `channel.h` into `thread.h`
  include/dpp/channel.h
  include/dpp/dispatcher.h
  include/dpp/dpp.h
  include/dpp/message.h
  include/dpp/thread.h
  src/dpp/channel.cpp
  src/dpp/message.cpp
  src/dpp/thread.cpp
Labels: documentation, code

feat: official clang-cl support
  .github/workflows/ci.yml
  README.md
Labels: documentation, github_actions

feat: windows coro packages (don't tell brain)
  .github/workflows/ci.yml
Labels: github_actions

misc: tentative revert of AVX guard for clang-cl
  include/dpp/isa/avx.h
  include/dpp/isa/avx2.h
  include/dpp/isa/avx512.h
Labels: documentation, code

misc: tentative revert of AVX guard for clang-cl
  include/dpp/isa/avx.h
  include/dpp/isa/avx2.h
  include/dpp/isa/avx512.h
Labels: documentation, code

refactor: split `dpp::thread` from `channel.h` into `thread.h`
  include/dpp/channel.h
  include/dpp/dispatcher.h
  include/dpp/dpp.h
  include/dpp/message.h
  include/dpp/thread.h
  src/dpp/channel.cpp
  src/dpp/message.cpp
  src/dpp/thread.cpp
Labels: documentation, code

fix: added fixes for clang-cl
  include/dpp/isa/avx.h
  include/dpp/isa/avx2.h
  include/dpp/isa/avx512.h
Labels: documentation, code

fix: remove msvc-only `/await:strict` from clang-cl flags
  CMakeLists.txt
  library/CMakeLists.txt
Labels: build

feat: add clang-cl CMake presets
  CMakeSettings.json
Labels: build

feat: official clang-cl support
  .github/workflows/ci.yml
  README.md
Labels: documentation, github_actions

fix: remove DPP_EXPORT on json_interface.h
  include/dpp/json_interface.h
Labels: documentation, code

fix: corrected some comments
  include/dpp/isa/avx.h
  include/dpp/isa/avx2.h
  include/dpp/isa/avx512.h
Labels: documentation, code

feat: windows coro packages (don't tell brain)
  .github/workflows/ci.yml
Labels: github_actions

build: CI should no longer build from docpages changes
  .github/workflows/ci.yml
Labels: github_actions

build: CI should no longer build from docpages changes (#1037)
  .github/workflows/ci.yml
Labels: github_actions

I honestly don't remember but it's something important + note to the page
  docpages/example_programs/misc.md
  docpages/example_programs/misc/using-emojis.md
Labels: documentation

Actually dested the page, it works now. Yoinked rephrasing of the note to make it better.
  docpages/example_programs/misc.md
  docpages/example_programs/misc/using-emojis.md
Labels: documentation

removed the exception from codeblock
  docpages/example_programs/misc/using-emojis.md
Labels: documentation

Changed note in the way the exception works as a reference
  docpages/example_programs/misc/using-emojis.md
Labels: documentation

feat: added guilds array and count to ready_t
  include/dpp/dispatcher.h
  src/dpp/events/ready.cpp
Labels: documentation, code

feat: added guilds array and count to ready_t (#1038)
  include/dpp/dispatcher.h
  src/dpp/events/ready.cpp
Labels: documentation, code

Rephrase that warning once again
  docpages/example_programs/misc/using-emojis.md
Labels: documentation

docs: Added emoji page (#1019)
  docpages/example_code/using_emojis1.cpp
  docpages/example_code/using_emojis2.cpp
  docpages/example_code/using_emojis3.cpp
  docpages/example_programs/misc.md
  docpages/example_programs/misc/using-emojis.md
  docpages/images/using_emojis1.png
  docpages/images/using_emojis2.png
  docpages/images/using_emojis3.png
Labels: documentation
