Repository brainboxdotcc/DPP, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, build, packaging, submodules, github_actions, code

Removed possibly uneeded windows flags and added exclusion for win32 folder
  library-conan/CMakeLists.txt
Labels: none

feat: added newly_created bool to threads (#1069)
  include/dpp/thread.h
  src/dpp/thread.cpp
Labels: documentation, code

feat: Added expire and issued timestamps in attachment (#1065)
  include/dpp/message.h
  src/dpp/message.cpp
Labels: documentation, code

fix: fix bug in human readable errors
  src/dpp/cluster/confirmation.cpp
Labels: code

fix: it's going to be OK
  src/dpp/httpsclient.cpp
Labels: code

fix: it's going to be OK (#1078)
  src/dpp/httpsclient.cpp
Labels: code

[fix] default callback parameters
  include/dpp/cluster.h
Labels: documentation, code

[fix] default callback parameters (#1079)
  include/dpp/cluster.h
Labels: documentation, code

Refactor Unit Test
  src/unittest/cache.cpp
  src/unittest/discord_objects.cpp
  src/unittest/errors.cpp
  src/unittest/gateway_events.cpp
  src/unittest/http.cpp
  src/unittest/test.cpp
  src/unittest/test.h
  src/unittest/unittest.cpp
  src/unittest/utilities.cpp
Labels: documentation, code

Space Indentation fix
  src/unittest/gateway_events.cpp
  src/unittest/test.h
Labels: documentation, code

feat: dpp::cluster::message_edit_flags
  include/dpp/cluster.h
  include/dpp/message.h
  src/dpp/cluster/message.cpp
  src/dpp/message.cpp
Labels: documentation, code

fix: parameter name in documentation
  include/dpp/message.h
Labels: documentation, code

[feat] alter set_allowed_mentions
  include/dpp/message.h
Labels: documentation, code

[feat] alter set_allowed_mentions (#1081)
  include/dpp/message.h
Labels: documentation, code

fix: fix bug in human readable errors (#1077)
  src/dpp/cluster/confirmation.cpp
Labels: code

Fixed getting archived threads
  src/dpp/cluster/thread.cpp
Labels: code

Fixed getting archived threads
  src/dpp/cluster/thread.cpp
Labels: code

Added change_voice_channel to discordclient
  include/dpp/discordclient.h
  src/dpp/discordclient.cpp
Labels: documentation, code

changed space-indentation to tab-indentation
  src/dpp/discordclient.cpp
Labels: code

Added change_voice_channel to discordclient (#1083)
  include/dpp/discordclient.h
  src/dpp/discordclient.cpp
Labels: documentation, code

Merge change_voice_channel into connect_voice
  include/dpp/discordclient.h
  src/dpp/discordclient.cpp
Labels: documentation, code

Remove change_voice_channel
  include/dpp/discordclient.h
  src/dpp/discordclient.cpp
Labels: documentation, code

1) Fix uninitialised value when empty string is passed to from_string<T>() 2) Update emojis
  .vscode/settings.json
  include/dpp/stringops.h
  include/dpp/unicode_emoji.h
Labels: documentation, code

spell check additional emoji names
  .cspell.json
Labels: documentation

dont attempt to reschedule timers that are deleted
  .vscode/settings.json
  src/dpp/cluster/timer.cpp
Labels: code

.contains is C++20 only
  src/dpp/cluster/timer.cpp
Labels: code

Merge change_voice_channel into connect_voice (#1085)
  include/dpp/discordclient.h
  src/dpp/discordclient.cpp
Labels: documentation, code

FIX: Potential uninitialised value returned if empty string passed to from_string<T>() (#1087)
  .cspell.json
  .vscode/settings.json
  include/dpp/stringops.h
  include/dpp/unicode_emoji.h
Labels: documentation, code

FIX: dont attempt to reschedule timers that are deleted (FIXES: #1048) (#1088)
  src/dpp/cluster/timer.cpp
Labels: code

fix: ts_not_null now works for all timezones
  src/dpp/discordevents.cpp
Labels: code

fix: set_ts_not_null is now always UTC
  src/dpp/discordevents.cpp
Labels: code

style: corrected indentation
  src/dpp/discordevents.cpp
Labels: code

fix: ts_not_null now works for all timezones (#1089)
  src/dpp/discordevents.cpp
Labels: code

refactor: cleaned up unit-tests
  src/unittest/http.cpp
  src/unittest/test.cpp
  src/unittest/test.h
  src/unittest/utilities.cpp
Labels: documentation, code

refactor: moved more tests, windows now tests ts_not_null
  src/unittest/test.cpp
  src/unittest/test.h
  src/unittest/utilities.cpp
Labels: documentation, code

refactor: separated errors
  src/unittest/errors.cpp
  src/unittest/http.cpp
  src/unittest/test.cpp
  src/unittest/test.h
  src/unittest/utilities.cpp
Labels: documentation, code

fix: Add version parameter to co_request
  buildtools/classes/Generator/CoroGenerator.php
Labels: build

fix: add version parameter as optional parameter to co_request, has been part of request for some time
  buildtools/classes/Generator/CoroGenerator.php
  buildtools/make_struct.php
  include/dpp/cluster_coro_calls.h
  src/dpp/cluster_coro_calls.cpp
Labels: documentation, build, code

docs: added a thinking page
  docpages/example_code/thinking.cpp
  docpages/example_programs/misc/thinking.md
Labels: documentation

docs: added thinking as subpage
  docpages/example_programs/misc.md
Labels: documentation

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - '**Doxyfile'
    - '**docpages/**'
    - '**/*.h'
    - '**/documentation.yml'
    - '**.cspell.json'
    - '**README.md'
    - '**SECURITY.md'
    - '**CONTRIBUTING.md'
    - '**CODE_OF_CONDUCT.md'

build:
- changed-files:
  - any-glob-to-any-file:
    - '**buildtools/**'
    - '**cmake/**'
    - '**library-vcpkg/**'
    - '**library/**'
    - '**win32/**'
    - '**CMakeLists.txt'
    - '**CMakeSettings.json'
    - '**settings.json'
    - '**dpp.pc.in'

packaging:
- changed-files:
  - any-glob-to-any-file:
    - '**vcpkg/**'
    - '**makerelease.sh'
    - '**sign.sh'
    - '**Dockerfile'

submodules:
- changed-files:
  - any-glob-to-any-file:
    - '**.gitmodules'
    - '**doxygen-awesome-css/**' # Ideally, nobody should be touching this, but it's here just in-case.

github_actions:
- changed-files:
  - any-glob-to-any-file:
    - '**.github/labeler.yml'
    - '**.github/dependabot.yml'
    - '**.github/workflows/**'

code:
- changed-files:
  - any-glob-to-any-file:
    - '**src/**'
    - '**include/**'
