Repository brainboxdotcc/DPP, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, build, packaging, submodules, github_actions, code

.github/labeler.yml:

documentation:
- '**Doxyfile'
- '**docpages/**'
- '**/*.h'
- '**/documentation.yml'
- '**.cspell.json'
- '**README.md'
- '**SECURITY.md'
- '**CONTRIBUTING.md'
- '**CODE_OF_CONDUCT.md'
build:
- '**buildtools/**'
- '**cmake/**'
- '**library-vcpkg/**'
- '**library/**'
- '**win32/**'
- '**CMakeLists.txt'
- '**CMakeSettings.json'
- '**settings.json'
- '**dpp.pc.in'
packaging:
- '**vcpkg/**'
- '**makerelease.sh'
- '**sign.sh'
- '**Dockerfile'
submodules:
- '**.gitmodules'
- '**doxygen-awesome-css/**' # Ideally, nobody should be touching this, but it's here just in-case.
github_actions:
- '**.github/labeler.yml'
- '**.github/dependabot.yml'
- '**.github/workflows/**'
code:
- '**src/**'
- '**include/**'

mamma mia
  src/dpp/snowflake.cpp
Labels: code

fixed spelling and naming
  include/dpp/utility.h
  src/dpp/utility.cpp
Labels: documentation, code

javascript wins this one
  include/dpp/snowflake.h
  src/dpp/snowflake.cpp
  src/unittest/test.cpp
Labels: documentation, code

fixed hue value range
  include/dpp/utility.h
Labels: documentation, code

more spelling and style fixes
  include/dpp/utility.h
  src/dpp/utility.cpp
Labels: documentation, code

even more spelling and style fixes
  include/dpp/utility.h
  src/dpp/utility.cpp
Labels: documentation, code

changed some if's to else if
  src/dpp/utility.cpp
Labels: code

do not use github mobile to fix coding style
  src/dpp/utility.cpp
Labels: code

refactor: forward declaration of class not needed
  include/dpp/event.h
Labels: documentation, code

feat: added support for hsl colors (#924)
  include/dpp/utility.h
  src/dpp/utility.cpp
Labels: documentation, code

fix double namespace
  src/dpp/utility.cpp
Labels: code

refactor, style: unindent utility.h and utility.cpp and fix a broken ifdef
  include/dpp/utility.h
  src/dpp/utility.cpp
Labels: documentation, code

fix codacy warnings
  src/dpp/utility.cpp
Labels: code

fix: new urlencoding failed unit test
  src/dpp/utility.cpp
Labels: code

apply requested changes
  include/dpp/json.h
  include/dpp/json_fwd.h
Labels: documentation, code

ah yes i need to save the file
  include/dpp/snowflake.h
Labels: documentation, code

changed indent spaces to tabs
  docpages/example_code/resolved_objects.cpp
Labels: documentation

build: refactor json.h out of include from discordevents.h
  include/dpp/discordevents.h
  src/dpp/discordevents.cpp
Labels: documentation, code

surely this time
  include/dpp/discordevents.h
Labels: documentation, code

surely this time 2
  include/dpp/discordevents.h
Labels: documentation, code

build: refactor json.h out of include from discordevents.h (#926)
  include/dpp/discordevents.h
  src/dpp/discordevents.cpp
Labels: documentation, code

surely THIS time
  include/dpp/discordevents.h
  src/dpp/discordevents.cpp
Labels: documentation, code

eeeeeeeeeeee
  include/dpp/discordevents.h
Labels: documentation, code

build: fix #926, speedrun to #1000 (#927)
  include/dpp/discordevents.h
  src/dpp/discordevents.cpp
Labels: documentation, code

fix #928 yes
  src/dpp/discordevents.cpp
Labels: code

fix: fix bug introduced by #927 (#928)
  src/dpp/discordevents.cpp
Labels: code

improv: freshen up dpp::snowflake and dpp::managed (#912)
  include/dpp/cluster.h
  include/dpp/discordclient.h
  include/dpp/discordvoiceclient.h
  include/dpp/event_router.h
  include/dpp/json.h
  include/dpp/json_fwd.h
  include/dpp/managed.h
  include/dpp/restresults.h
  include/dpp/snowflake.h
  src/dpp/managed.cpp
  src/dpp/snowflake.cpp
  src/unittest/test.cpp
  src/unittest/test.h
Labels: documentation, code

fix wordings
  docpages/example_programs/interactions_and_components/resolved_objects.md
Labels: documentation

DOCS: added resolved object example (#923)
  docpages/example_code/resolved_objects.cpp
  docpages/example_programs/interactions_and_components.md
  docpages/example_programs/interactions_and_components/resolved_objects.md
Labels: documentation

feat: added thread_get for threads
  include/dpp/cluster.h
  src/dpp/cluster/thread.cpp
Labels: documentation, code

feat: added thread_get for threads (#930)
  include/dpp/cluster.h
  src/dpp/cluster/thread.cpp
Labels: documentation, code

fix: run coro and sync generator to make coro and sync thread_get
  include/dpp/cluster_coro_calls.h
  include/dpp/cluster_sync_calls.h
  src/dpp/cluster_coro_calls.cpp
  src/dpp/cluster_sync_calls.cpp
Labels: documentation, code

fix: threads now send correctly to discord
  src/dpp/channel.cpp
Labels: code

fix: changed 487 in channel.cpp to be better
  src/dpp/channel.cpp
Labels: code

docs: changed making_threads.md to include more info
  docpages/example_code/making_threads3.cpp
  docpages/example_programs/interactions_and_components/making_threads.md
  docpages/images/creating_thread_3.png
Labels: documentation

fix: build_json for threads now works on creation
  src/dpp/channel.cpp
Labels: code

fix: threads now send correctly to discord. (#931)
  src/dpp/channel.cpp
Labels: code

docs: changed making_threads.md to include more info (#932)
  docpages/example_code/making_threads3.cpp
  docpages/example_programs/interactions_and_components/making_threads.md
  docpages/images/creating_thread_3.png
Labels: documentation

fix: fix clang c++17 build
  include/dpp/managed.h
Labels: documentation, code

fixed indent
  include/dpp/managed.h
Labels: documentation, code
