Repository brainboxdotcc/DPP, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, build, packaging, submodules, github_actions, code

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - '**Doxyfile'
    - '**docpages/**'
    - '**/*.h'
    - '**/documentation.yml'
    - '**.cspell.json'
    - '**README.md'
    - '**SECURITY.md'
    - '**CONTRIBUTING.md'
    - '**CODE_OF_CONDUCT.md'

build:
- changed-files:
  - any-glob-to-any-file:
    - '**buildtools/**'
    - '**cmake/**'
    - '**library-vcpkg/**'
    - '**library/**'
    - '**win32/**'
    - '**CMakeLists.txt'
    - '**CMakeSettings.json'
    - '**settings.json'
    - '**dpp.pc.in'

packaging:
- changed-files:
  - any-glob-to-any-file:
    - '**vcpkg/**'
    - '**makerelease.sh'
    - '**sign.sh'
    - '**Dockerfile'

submodules:
- changed-files:
  - any-glob-to-any-file:
    - '**.gitmodules'
    - '**doxygen-awesome-css/**' # Ideally, nobody should be touching this, but it's here just in-case.

github_actions:
- changed-files:
  - any-glob-to-any-file:
    - '**.github/labeler.yml'
    - '**.github/dependabot.yml'
    - '**.github/workflows/**'

code:
- changed-files:
  - any-glob-to-any-file:
    - '**src/**'
    - '**include/**'

docs: moved thinking to interactions_and_components
  docpages/example_programs/interactions_and_components.md
  docpages/example_programs/interactions_and_components/thinking.md
  docpages/example_programs/misc.md
Labels: documentation

feat: add embed-only message ctor
  include/dpp/message.h
  src/dpp/message.cpp
Labels: documentation, code

feat: add embed-only message ctor (#1100)
  include/dpp/message.h
  src/dpp/message.cpp
Labels: documentation, code

library: fix wrong linking order to fix static build
  library/CMakeLists.txt
Labels: build

fix: correct wrong linking order to fix static build
  library/CMakeLists.txt
Labels: build

fix: correct wrong linking order to fix static build (#1102)
  library/CMakeLists.txt
Labels: build

fix: get size of object instead of pointer
  include/dpp/cache.h
Labels: documentation, code

docs: added a thinking page (#1092)
  docpages/example_code/thinking.cpp
  docpages/example_programs/interactions_and_components.md
  docpages/example_programs/interactions_and_components/thinking.md
Labels: documentation

fix: get size of object instead of pointer
  include/dpp/cache.h
Labels: documentation, code

fix: out-of-bounds read of MIME types
  src/dpp/httpsclient.cpp
Labels: code

fix: out-of-bounds read of MIME types (#1104)
  src/dpp/httpsclient.cpp
Labels: code

Added a method is_guild_owner for dpp::guild_member to check if said member is the guild owner.
  include/dpp/guild.h
  src/dpp/guild.cpp
Labels: documentation, code

Ability to suppress embeds (#1107)
  include/dpp/cluster.h
  include/dpp/message.h
  src/dpp/cluster/message.cpp
  src/dpp/message.cpp
Labels: documentation, code

Fixed a mistake in the guild lookup, added a note to the function documentation.
  include/dpp/guild.h
  src/dpp/guild.cpp
Labels: documentation, code

Improved documentation.
  include/dpp/guild.h
Labels: documentation, code

docs: fixed missing/incorrect params for many functions
  include/dpp/cluster.h
  include/dpp/cluster_coro_calls.h
  include/dpp/cluster_sync_calls.h
  include/dpp/coro/coroutine.h
  include/dpp/discordevents.h
  include/dpp/discordvoiceclient.h
  include/dpp/emoji.h
  include/dpp/event_router.h
  include/dpp/guild.h
  include/dpp/httpsclient.h
  include/dpp/prune.h
  include/dpp/role.h
  include/dpp/scheduled_event.h
  include/dpp/sku.h
  include/dpp/sslclient.h
  include/dpp/utility.h
  src/dpp/cluster_coro_calls.cpp
  src/dpp/cluster_sync_calls.cpp
Labels: documentation, code

docs: rewrote the CLion VCPKG page to use VS toolchain
  docpages/images/clionvstoolchain.png
  docpages/images/clionvstoolchain2.png
  docpages/install/install-windows-clion-vcpkg.md
Labels: documentation

docs: added extra notes to state that Visual Studio is still required
  docpages/install/install-windows-clion-vcpkg.md
Labels: documentation

docs: renamed and moved clion-vcpkg to building_a_bot
  docpages/03_installing.md
  docpages/04_building_a_bot.md
  docpages/install/install-windows-clion-vcpkg.md
  docpages/make_a_bot/clion_windows.md
Labels: documentation

docs: reworded install-vcpkg
  docpages/install/install-vcpkg.md
Labels: documentation

docs: fixed missing/incorrect params for many functions (#1110)
  include/dpp/cluster.h
  include/dpp/cluster_coro_calls.h
  include/dpp/cluster_sync_calls.h
  include/dpp/coro/coroutine.h
  include/dpp/discordevents.h
  include/dpp/discordvoiceclient.h
  include/dpp/emoji.h
  include/dpp/event_router.h
  include/dpp/guild.h
  include/dpp/httpsclient.h
  include/dpp/prune.h
  include/dpp/role.h
  include/dpp/scheduled_event.h
  include/dpp/sku.h
  include/dpp/sslclient.h
  include/dpp/utility.h
  src/dpp/cluster_coro_calls.cpp
  src/dpp/cluster_sync_calls.cpp
Labels: documentation, code

Added flags for tests and BUILD_SHARED_LIBS
  library-conan/conanfile.py
Labels: none

misc: the beginning of a new era
  src/dpp/cluster.cpp
Labels: code

fix: fix memory leak on libstdc++
  include/dpp/queues.h
  src/dpp/cluster.cpp
  src/dpp/queues.cpp
Labels: documentation, code

docs: rewrote the CLion VCPKG page to use VS toolchain (#1111)
  docpages/03_installing.md
  docpages/04_building_a_bot.md
  docpages/images/clionvstoolchain.png
  docpages/images/clionvstoolchain2.png
  docpages/install/install-vcpkg.md
  docpages/install/install-windows-clion-vcpkg.md
  docpages/make_a_bot/clion_windows.md
Labels: documentation

adjust wording
  include/dpp/guild.h
Labels: documentation, code

fix memory leak on libstdc++ (#1112)
  include/dpp/queues.h
  src/dpp/cluster.cpp
  src/dpp/queues.cpp
Labels: documentation, code

feat: Added is_guild_owner for dpp::guild_member (#1109)
  include/dpp/guild.h
  src/dpp/guild.cpp
Labels: documentation, code

docs: added a timers page, added a note in setting_status for timers
  docpages/example_code/timers_example1.cpp
  docpages/example_code/timers_example2.cpp
  docpages/example_code/timers_example3.cpp
  docpages/example_programs/misc.md
  docpages/example_programs/misc/making_timers.md
  docpages/example_programs/misc/setting_status.md
  docpages/images/timers_example1.png
  docpages/images/timers_example3.png
Labels: documentation

fix: empty presences will now warn
  src/dpp/cluster.cpp
Labels: code

docs: renamed making_timers, correctly categorised the page
  docpages/example_programs/misc.md
  docpages/example_programs/misc/using_timers.md
Labels: documentation

socket engine basics
  include/dpp/socketengine.h
  src/dpp/socketengine.cpp
  src/dpp/socketengines/epoll.cpp
  src/dpp/socketengines/poll.cpp
Labels: documentation, code

epoll and kqueue stuff
  cmake/epoll.cmake
  cmake/kqueue.cmake
  include/dpp/socketengine.h
  library-vcpkg/CMakeLists.txt
  library/CMakeLists.txt
  src/dpp/socketengine.cpp
  src/dpp/socketengines/epoll.cpp
  src/dpp/socketengines/kqueue.cpp
  src/dpp/socketengines/poll.cpp
Labels: documentation, build, packaging, code

poll class
  src/dpp/socketengines/epoll.cpp
  src/dpp/socketengines/poll.cpp
Labels: code

make this default to the hint size not 16
  src/dpp/socketengines/epoll.cpp
Labels: code

fix: empty presences will now warn (#1121)
  src/dpp/cluster.cpp
Labels: code

socktest
  include/dpp/dpp.h
  src/sockettest/socket.cpp
Labels: documentation, code

poll
  src/dpp/socketengines/poll.cpp
Labels: code

includes
  src/dpp/socketengines/epoll.cpp
  src/dpp/socketengines/kqueue.cpp
  src/dpp/socketengines/poll.cpp
Labels: code

docs: corrected timers_example3.cpp
  docpages/example_code/timers_example3.cpp
Labels: documentation
