Repository brainboxdotcc/DPP, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, build, packaging, submodules, github_actions, code

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - '**Doxyfile'
    - '**docpages/**'
    - '**/*.h'
    - '**/documentation.yml'
    - '**.cspell.json'
    - '**README.md'
    - '**SECURITY.md'
    - '**CONTRIBUTING.md'
    - '**CODE_OF_CONDUCT.md'

build:
- changed-files:
  - any-glob-to-any-file:
    - '**buildtools/**'
    - '**cmake/**'
    - '**library-vcpkg/**'
    - '**library/**'
    - '**win32/**'
    - '**CMakeLists.txt'
    - '**CMakeSettings.json'
    - '**settings.json'
    - '**dpp.pc.in'

packaging:
- changed-files:
  - any-glob-to-any-file:
    - '**vcpkg/**'
    - '**makerelease.sh'
    - '**sign.sh'
    - '**Dockerfile'

submodules:
- changed-files:
  - any-glob-to-any-file:
    - '**.gitmodules'
    - '**doxygen-awesome-css/**' # Ideally, nobody should be touching this, but it's here just in-case.

github_actions:
- changed-files:
  - any-glob-to-any-file:
    - '**.github/labeler.yml'
    - '**.github/dependabot.yml'
    - '**.github/workflows/**'

code:
- changed-files:
  - any-glob-to-any-file:
    - '**src/**'
    - '**include/**'

fix indentation 2
  src/dpp/discordvoiceclient.cpp
Labels: code

fix: fix uncleared track meta on stop audio (#1127)
  src/dpp/discordvoiceclient.cpp
Labels: code

fix: Signal Handlers on Non-Windows Platforms in sslclient (#1123)
  src/dpp/sslclient.cpp
Labels: code

fix: error in logging with malformed json that doesnt fit the structure for an error (#1126)
  src/dpp/utility.cpp
Labels: code

ci: removed self-hosted mac runner
  .github/workflows/ci.yml
Labels: github_actions

ci: Mac runner removal (#1144)
  .github/workflows/ci.yml
Labels: github_actions

Split the code into three parts, split the screenshots making two more, basically rephrased the page completely
  docpages/example_code/editing_messages.cpp
  docpages/example_code/editing_messages1.cpp
  docpages/example_code/editing_messages2.cpp
  docpages/example_code/editing_messages3.cpp
  docpages/example_programs/the_basics/editing-channels-and-messages.md
  docpages/images/stuff_edit1.png
  docpages/images/stuff_edit2.png
  docpages/images/stuff_edit3.png
  docpages/images/stuff_edit4.png
  docpages/images/stuff_edit5.png
  docpages/images/stuff_edit6.png
Labels: documentation

FIX: change to replace
  include/dpp/json_interface.h
  src/dpp/auditlog.cpp
  src/dpp/cluster.cpp
  src/dpp/cluster/appcommand.cpp
  src/dpp/cluster/channel.cpp
  src/dpp/cluster/dm.cpp
  src/dpp/cluster/guild.cpp
  src/dpp/cluster/guild_member.cpp
  src/dpp/cluster/message.cpp
  src/dpp/cluster/role.cpp
  src/dpp/cluster/template.cpp
  src/dpp/cluster/thread.cpp
  src/dpp/cluster/user.cpp
  src/dpp/cluster/webhook.cpp
  src/dpp/discordclient.cpp
  src/dpp/discordevents.cpp
  src/dpp/discordvoiceclient.cpp
  src/dpp/guild.cpp
  src/dpp/integration.cpp
Labels: documentation, code

missing poll stuff in sync and coro calls headers, adding unit test for invalid utf8
  include/dpp/cluster_sync_calls.h
  src/dpp/cluster_sync_calls.cpp
  src/unittest/test.cpp
  src/unittest/test.h
Labels: documentation, code

FIX: QOL: non fatal utf8 handling. (#1147)
  include/dpp/cluster_sync_calls.h
  include/dpp/json_interface.h
  include/dpp/nlohmann/json.hpp
  src/dpp/auditlog.cpp
  src/dpp/cluster.cpp
  src/dpp/cluster/appcommand.cpp
  src/dpp/cluster/channel.cpp
  src/dpp/cluster/confirmation.cpp
  src/dpp/cluster/dm.cpp
  src/dpp/cluster/guild.cpp
  src/dpp/cluster/guild_member.cpp
  src/dpp/cluster/message.cpp
  src/dpp/cluster/role.cpp
  src/dpp/cluster/template.cpp
  src/dpp/cluster/thread.cpp
  src/dpp/cluster/user.cpp
  src/dpp/cluster/webhook.cpp
  src/dpp/cluster_sync_calls.cpp
  src/dpp/discordclient.cpp
  src/dpp/discordevents.cpp
  src/dpp/discordvoiceclient.cpp
  src/dpp/guild.cpp
  src/dpp/integration.cpp
  src/dpp/message.cpp
  src/dpp/role.cpp
  src/unittest/test.cpp
  src/unittest/test.h
Labels: documentation, code

FIX: Silence GUILD_SOUNDBOARD_* websocket events, currently undocumented
  src/dpp/discordevents.cpp
Labels: code

FIX: herp derp
  src/dpp/discordevents.cpp
Labels: code

FIX: Silence GUILD_SOUNDBOARD_* websocket events, currently undocumented (#1148)
  src/dpp/discordevents.cpp
Labels: code

[bot] VCPKG info update [skip ci]
  vcpkg/ports/dpp/portfile.cmake
  vcpkg/ports/dpp/vcpkg.json
  vcpkg/versions/baseline.json
  vcpkg/versions/d-/dpp.json
Labels: packaging

Added headers telling what's done next
  docpages/example_programs/the_basics/editing-channels-and-messages.md
Labels: documentation

Rephrased the embed explanation part
  docpages/example_programs/the_basics/editing-channels-and-messages.md
Labels: documentation

Moved the callback note back to where it was
  docpages/example_programs/the_basics/editing-channels-and-messages.md
Labels: documentation

docs: Added an example on how to edit an embed (#1128)
  docpages/example_code/editing_messages1.cpp
  docpages/example_code/editing_messages2.cpp
  docpages/example_code/editing_messages3.cpp
  docpages/example_programs/the_basics/editing-channels-and-messages.md
  docpages/images/stuff_edit1.png
  docpages/images/stuff_edit2.png
  docpages/images/stuff_edit3.png
  docpages/images/stuff_edit4.png
  docpages/images/stuff_edit5.png
  docpages/images/stuff_edit6.png
Labels: documentation

Streamlined unicode_emoji.h
  include/dpp/unicode_emoji.h
Labels: documentation, code

Update commandhandler.cpp
  docpages/example_code/commandhandler.cpp
Labels: documentation

Updated autocomplete tutorial
  docpages/example_code/autocomplete.cpp
Labels: documentation

FIX: poll conflicting with dpp::poll
  src/dpp/sslclient.cpp
Labels: code

Updated autocomplete tutorial (#1151)
  docpages/example_code/autocomplete.cpp
Labels: documentation

FIX: poll conflicting with dpp::poll (#1152)
  src/dpp/sslclient.cpp
Labels: code

version bump
  include/dpp/version.h
Labels: documentation, code

fix: default gateway reference
  include/dpp/cluster.h
  src/dpp/cluster.cpp
Labels: documentation, code
