Repository brainboxdotcc/DPP, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, build, packaging, submodules, github_actions, code

ci: add self hosted arm runner
  .github/workflows/ci.yml
Labels: github_actions

ci: dont use apt, use apt-get and specify -y
  .github/workflows/ci.yml
Labels: github_actions

ci: native arm7 runner, comment out cross compile version
  .github/workflows/ci.yml
Labels: github_actions

style: refactored comments part 3 (#979)
  include/dpp/guild.h
  include/dpp/httpsclient.h
  include/dpp/integration.h
  include/dpp/intents.h
  include/dpp/invite.h
  include/dpp/json_interface.h
  include/dpp/managed.h
  include/dpp/misc-enum.h
  include/dpp/once.h
  include/dpp/permissions.h
  include/dpp/presence.h
  include/dpp/prune.h
  include/dpp/queues.h
  include/dpp/restresults.h
Labels: documentation, code

ci: add self hosted arm runner (#983)
  .github/workflows/ci.yml
Labels: github_actions

docs: cspell now doesn't fail
  .cspell.json
Labels: documentation

docs: a couple changes
  CONTRIBUTING.md
  README.md
  SECURITY.md
Labels: documentation

docs: added some changes to the faq
  docpages/01_frequently_asked_questions.md
Labels: documentation

docs: changed message about c++ help
  docpages/01_frequently_asked_questions.md
Labels: documentation

docs: fixed up some indentation issues
  docpages/advanced_reference/separate-events.md
  docpages/advanced_reference/thread_model.md
  docpages/advanced_reference/voice_model.md
Labels: documentation

docs: changes as requested by Brain
  docpages/example_code/oggopus.cpp
  docpages/example_code/oggopus2.cpp
  docpages/example_programs/music_and_audio/oggopus.md
Labels: documentation

docs: pushed a fix to oggopus.cpp
  docpages/example_code/oggopus.cpp
Labels: documentation

build: added libopusfile to workflow and CMakeLists
  .github/workflows/test-docs-examples.yml
  docpages/example_code/CMakeLists.txt
Labels: documentation, github_actions

build: added include directory for opusfile because bad design
  docpages/example_code/CMakeLists.txt
Labels: documentation

build: updated nlohmann to newest version
  include/dpp/nlohmann/json.hpp
  include/dpp/nlohmann/json_fwd.hpp
Labels: code

build: changed the target_include_directories for docpages
  docpages/example_code/CMakeLists.txt
Labels: documentation

build: plz just work cmake
  docpages/example_code/CMakeLists.txt
Labels: documentation

build: whoopsies, hopefully cmake work now
  docpages/example_code/CMakeLists.txt
Labels: documentation

build: updated nlohmann to 3.11.2 (#991)
  include/dpp/nlohmann/json.hpp
  include/dpp/nlohmann/json_fwd.hpp
Labels: code

fix: removed unused variables in oggopus.cpp
  docpages/example_code/oggopus.cpp
Labels: documentation

ci: add opus
  docpages/example_code/CMakeLists.txt
Labels: documentation

fix: int autocompletes no longer cause crash
  src/dpp/events/interaction_create.cpp
  src/dpp/slashcommand.cpp
Labels: code

Update CMakeLists.txt
  docpages/example_code/CMakeLists.txt
Labels: documentation

fix: add maybe_unused to build_type constexpr to squash warning
  src/dpp/cluster.cpp
Labels: code

fix: add maybe_unused to build_type constexpr to squash warning (#993)
  src/dpp/cluster.cpp
Labels: code

fix: integer autocompletes no longer cause crash (#992)
  src/dpp/events/interaction_create.cpp
  src/dpp/slashcommand.cpp
Labels: code

ci: move arm64 to self hosted runner
  .github/workflows/ci.yml
Labels: github_actions

ci: move arm64 to self hosted runner (#994)
  .github/workflows/ci.yml
Labels: github_actions

[bot] VCPKG info update [skip ci]
  vcpkg/ports/dpp/portfile.cmake
  vcpkg/ports/dpp/vcpkg.json
  vcpkg/versions/baseline.json
Labels: packaging

version bump [skip ci]
  include/dpp/version.h
  makerelease.sh
Labels: documentation, packaging, code

[skip ci] vcpkg fixing
  buildtools/classes/Packager/Vcpkg.php
Labels: build

[bot] VCPKG info update [skip ci]
  vcpkg/versions/baseline.json
  vcpkg/versions/d-/dpp.json
Labels: packaging

style: the final style changes
  include/dpp/message.h
  include/dpp/role.h
  include/dpp/scheduled_event.h
  include/dpp/sku.h
  include/dpp/stage_instance.h
  include/dpp/timed_listener.h
  include/dpp/timer.h
  include/dpp/unicode_emoji.h
  include/dpp/user.h
  include/dpp/utility.h
  include/dpp/voiceregion.h
  include/dpp/voicestate.h
  include/dpp/webhook.h
  include/dpp/wsclient.h
Labels: documentation, code

refactor: undo of variable naming in message.h
  include/dpp/message.h
Labels: documentation, code

style: removal of /// from misc-enum
  include/dpp/misc-enum.h
Labels: documentation, code

style: added comments to voiceregion and changed emojis.php
  buildtools/emojis.php
  include/dpp/unicode_emoji.h
  include/dpp/voiceregion.h
Labels: documentation, build, code

style: the final comments refactor. (#996)
  buildtools/emojis.php
  include/dpp/message.h
  include/dpp/misc-enum.h
  include/dpp/role.h
  include/dpp/scheduled_event.h
  include/dpp/sku.h
  include/dpp/stage_instance.h
  include/dpp/timed_listener.h
  include/dpp/timer.h
  include/dpp/unicode_emoji.h
  include/dpp/user.h
  include/dpp/utility.h
  include/dpp/voiceregion.h
  include/dpp/voicestate.h
  include/dpp/webhook.h
  include/dpp/wsclient.h
Labels: documentation, build, code

fix: voiceregion now fills correctly, removed VIP.
  include/dpp/voiceregion.h
  src/dpp/voiceregion.cpp
Labels: documentation, code

style: removed spacing in emoji and change initalisers in voicestate
  include/dpp/emoji.h
  include/dpp/voicestate.h
  src/dpp/voicestate.cpp
Labels: documentation, code

style: found more silly comments
  include/dpp/isa/avx.h
  include/dpp/isa/avx2.h
  include/dpp/isa/avx512.h
  src/dpp/utility.cpp
Labels: documentation, code

.github/labeler.yml:

documentation:
- '**Doxyfile'
- '**docpages/**'
- '**/*.h'
- '**/documentation.yml'
- '**.cspell.json'
- '**README.md'
- '**SECURITY.md'
- '**CONTRIBUTING.md'
- '**CODE_OF_CONDUCT.md'
build:
- '**buildtools/**'
- '**cmake/**'
- '**library-vcpkg/**'
- '**library/**'
- '**win32/**'
- '**CMakeLists.txt'
- '**CMakeSettings.json'
- '**settings.json'
- '**dpp.pc.in'
packaging:
- '**vcpkg/**'
- '**makerelease.sh'
- '**sign.sh'
- '**Dockerfile'
submodules:
- '**.gitmodules'
- '**doxygen-awesome-css/**' # Ideally, nobody should be touching this, but it's here just in-case.
github_actions:
- '**.github/labeler.yml'
- '**.github/dependabot.yml'
- '**.github/workflows/**'
code:
- '**src/**'
- '**include/**'
