Repository brainboxdotcc/DPP, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, build, packaging, submodules, github_actions, code

because bool is a std::integral
  include/dpp/snowflake.h
Labels: documentation, code

add clang builds to CI
  .github/workflows/ci.yml
Labels: github_actions

fix: fix clang c++17 build (#933)
  include/dpp/managed.h
  include/dpp/snowflake.h
Labels: documentation, code

ci: more platforms
  .github/workflows/ci.yml
Labels: github_actions

ci: clang++ not clang
  .github/workflows/ci.yml
Labels: github_actions

ci: clang packages are named differently to their compiler executable because herp derp
  .github/workflows/ci.yml
Labels: github_actions

ci: add clang 11, bump cores on macos to 3, remove commented out freebsd build
  .github/workflows/ci.yml
Labels: github_actions

CI: add clang builds (#934)
  .github/workflows/ci.yml
Labels: github_actions

feat: added bulk command deleting.
  include/dpp/cluster.h
  include/dpp/cluster_sync_calls.h
  src/dpp/cluster/appcommand.cpp
  src/dpp/cluster_sync_calls.cpp
Labels: documentation, code

feat: added coro calls
  include/dpp/cluster_coro_calls.h
  src/dpp/cluster_coro_calls.cpp
Labels: documentation, code

docs: removed info about commands updating after 1 hour
  include/dpp/cluster.h
  include/dpp/cluster_coro_calls.h
  include/dpp/cluster_sync_calls.h
Labels: documentation, code

docs: added a page for clearing slashcommands
  docpages/example_code/clearing_slashcommands.cpp
  docpages/example_programs/interactions_and_components/clearing_slashcommands.md
Labels: documentation

docs: added clearing_slashcommands as a subpage
  docpages/example_programs/interactions_and_components.md
  docpages/example_programs/interactions_and_components/clearing_slashcommands.md
Labels: documentation

feat: added bulk command deleting. (#938)
  include/dpp/cluster.h
  include/dpp/cluster_coro_calls.h
  include/dpp/cluster_sync_calls.h
  src/dpp/cluster/appcommand.cpp
  src/dpp/cluster_coro_calls.cpp
  src/dpp/cluster_sync_calls.cpp
Labels: documentation, code

docs: added a page for clearing slashcommands (#939)
  docpages/example_code/clearing_slashcommands.cpp
  docpages/example_programs/interactions_and_components.md
  docpages/example_programs/interactions_and_components/clearing_slashcommands.md
Labels: documentation

docs: fixed context_menus
  docpages/example_code/context_menus.cpp
Labels: documentation

docs: fixed slashcommands2
  docpages/example_code/slashcommands2.cpp
Labels: documentation

fix: unit test to comply with new message_delete
  src/unittest/test.cpp
Labels: code

fix: refactors for readability
  src/dpp/events/channel_delete.cpp
  src/dpp/events/guild_delete.cpp
Labels: code

fix: refactored guild_member_remove
  src/dpp/events/guild_member_remove.cpp
Labels: code

refactor: fix json_interface
  include/dpp/ban.h
  include/dpp/emoji.h
  include/dpp/json_interface.h
  src/dpp/ban.cpp
Labels: documentation, code

docs: reorganize interactions and components, add subcategories and move some things to other places
  docpages/example_programs/interactions_and_components.md
  docpages/example_programs/interactions_and_components/components-menu.md
  docpages/example_programs/interactions_and_components/components/components.md
  docpages/example_programs/interactions_and_components/components/components2.md
  docpages/example_programs/interactions_and_components/components/components3.md
  docpages/example_programs/interactions_and_components/slashcommands-menu.md
  docpages/example_programs/interactions_and_components/slashcommands/autocomplete.md
  docpages/example_programs/interactions_and_components/slashcommands/clearing_slashcommands.md
  docpages/example_programs/interactions_and_components/slashcommands/commandhandler.md
  docpages/example_programs/interactions_and_components/slashcommands/slashcommands.md
  docpages/example_programs/interactions_and_components/slashcommands/subcommands.md
  docpages/example_programs/interactions_and_components/slashcommands/upload_parameter.md
  docpages/example_programs/misc.md
  docpages/example_programs/misc/making_threads.md
  docpages/example_programs/the_basics.md
  docpages/example_programs/the_basics/detecting-messages.md
  docpages/example_programs/the_basics/private-messaging.md
Labels: documentation

windows moment
  docpages/example_programs/interactions_and_components/components-menu.md
  docpages/example_programs/interactions_and_components/slashcommands-menu.md
Labels: documentation

add link to resolved objects in note
  docpages/example_programs/interactions_and_components/slashcommands-menu.md
Labels: documentation

fix link in components
  docpages/example_programs/interactions_and_components/components-menu.md
Labels: documentation

fix wording
  docpages/example_programs/interactions_and_components/slashcommands-menu.md
Labels: documentation

docs: reorganize interactions and components, add subcategories and move some things to other places (#942)
  docpages/example_programs/interactions_and_components.md
  docpages/example_programs/interactions_and_components/components-menu.md
  docpages/example_programs/interactions_and_components/components/components.md
  docpages/example_programs/interactions_and_components/components/components2.md
  docpages/example_programs/interactions_and_components/components/components3.md
  docpages/example_programs/interactions_and_components/slashcommands-menu.md
  docpages/example_programs/interactions_and_components/slashcommands/autocomplete.md
  docpages/example_programs/interactions_and_components/slashcommands/clearing_slashcommands.md
  docpages/example_programs/interactions_and_components/slashcommands/commandhandler.md
  docpages/example_programs/interactions_and_components/slashcommands/slashcommands.md
  docpages/example_programs/interactions_and_components/slashcommands/subcommands.md
  docpages/example_programs/interactions_and_components/slashcommands/upload_parameter.md
  docpages/example_programs/misc.md
  docpages/example_programs/misc/making_threads.md
  docpages/example_programs/the_basics.md
  docpages/example_programs/the_basics/detecting-messages.md
  docpages/example_programs/the_basics/private-messaging.md
Labels: documentation

feat: make snowflake formattable again
  include/dpp/snowflake.h
Labels: documentation, code

fix: make snowflake formattable again (#943)
  include/dpp/snowflake.h
Labels: documentation, code

dont require guild cache to fill member roles in message
  src/dpp/message.cpp
Labels: code

fix: dont require guild cache to fill member roles in message (#945)
  src/dpp/message.cpp
Labels: code

docs: added a page for default select menu values. Added a section in components3 for role select menus
  docpages/example_code/components3_rolemenu.cpp
  docpages/example_code/default_select_value.cpp
  docpages/example_programs/interactions_and_components/components-menu.md
  docpages/example_programs/interactions_and_components/components/components3.md
  docpages/example_programs/interactions_and_components/components/default_select_value.md
  docpages/images/default_select_value.png
  docpages/images/default_select_value_2.png
Labels: documentation

docs: fixed a ref issue
  docpages/example_code/components3_rolemenu.cpp
  docpages/example_programs/interactions_and_components/components/default_select_value.md
Labels: documentation

moved error tests
  library/CMakeLists.txt
  src/unittest/errors.cpp
  src/unittest/test.cpp
  src/unittest/test.h
Labels: documentation, build, code

don't manually add files in cmake
  library/CMakeLists.txt
Labels: build

bump gha-setup-ninja to 8b297075da4cd2a5f1fd21fe011b499edf06e9d2 latest master
  .github/workflows/ci.yml
Labels: github_actions

ci: bump gha-setup-ninja (#949)
  .github/workflows/ci.yml
Labels: github_actions

moved http client tests
  src/unittest/http.cpp
  src/unittest/test.cpp
  src/unittest/test.h
Labels: documentation, code

moved discord objects tests
  src/unittest/discord_objects.cpp
  src/unittest/test.cpp
  src/unittest/test.h
Labels: documentation, code

docs: removed unicode include from components3_rolemenu.cpp
  docpages/example_code/components3_rolemenu.cpp
Labels: documentation

.github/labeler.yml:

documentation:
- '**Doxyfile'
- '**docpages/**'
- '**/*.h'
- '**/documentation.yml'
- '**.cspell.json'
- '**README.md'
- '**SECURITY.md'
- '**CONTRIBUTING.md'
- '**CODE_OF_CONDUCT.md'
build:
- '**buildtools/**'
- '**cmake/**'
- '**library-vcpkg/**'
- '**library/**'
- '**win32/**'
- '**CMakeLists.txt'
- '**CMakeSettings.json'
- '**settings.json'
- '**dpp.pc.in'
packaging:
- '**vcpkg/**'
- '**makerelease.sh'
- '**sign.sh'
- '**Dockerfile'
submodules:
- '**.gitmodules'
- '**doxygen-awesome-css/**' # Ideally, nobody should be touching this, but it's here just in-case.
github_actions:
- '**.github/labeler.yml'
- '**.github/dependabot.yml'
- '**.github/workflows/**'
code:
- '**src/**'
- '**include/**'
