Repository brainboxdotcc/DPP, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, build, packaging, submodules, github_actions, code

docs: made the setting_status page use the latest ready_t feature
  docpages/example_code/setting_status2.cpp
  docpages/example_programs/misc/setting_status.md
Labels: documentation

docs: changed the tense in a sentence
  docpages/example_programs/misc/setting_status.md
Labels: documentation

docs: made changes from comments
  docpages/example_code/setting_status2.cpp
  docpages/example_programs/misc/setting_status.md
Labels: documentation

feat: Made the iteration_interval changable
  include/dpp/discordvoiceclient.h
  src/dpp/discordvoiceclient.cpp
Labels: documentation, code

feat: Made iteration_interval changeable. (#1040)
  include/dpp/discordvoiceclient.h
  src/dpp/discordvoiceclient.cpp
Labels: documentation, code

docs: made the setting_status page use the latest ready_t feature (#1039)
  docpages/example_code/setting_status2.cpp
  docpages/example_programs/misc/setting_status.md
Labels: documentation

[bot] VCPKG info update [skip ci]
  vcpkg/ports/dpp/portfile.cmake
  vcpkg/ports/dpp/vcpkg.json
  vcpkg/versions/baseline.json
  vcpkg/versions/d-/dpp.json
Labels: packaging

docs: added the homebrew version to readme
  README.md
Labels: documentation

[skip ci] version bump
  include/dpp/version.h
  makerelease.sh
Labels: documentation, packaging, code

docs: added the homebrew version to readme (#1041)
  README.md
Labels: documentation

fix: avoid memory leaks in event_map
  src/dpp/discordevents.cpp
Labels: code

fix: use of uninitialized value in command_option copy ctor
  src/dpp/slashcommand.cpp
Labels: code

fix: use of uninitialized value in command_option copy ctor (#1044)
  src/dpp/slashcommand.cpp
Labels: code

fix: avoid memory leaks in event_map (#1043)
  src/dpp/discordevents.cpp
Labels: code

refactor: utf8len
  include/dpp/utility.h
  src/dpp/utility.cpp
Labels: documentation, code

fix: utf8substr
  include/dpp/utility.h
  src/dpp/utility.cpp
Labels: documentation, code

feat: add and use utf8subview
  docpages/example_code/eval.cpp
  include/dpp/utility.h
  src/dpp/commandhandler.cpp
  src/dpp/utility.cpp
Labels: documentation, code

feat: add and use utf8subview
  include/dpp/utility.h
  src/dpp/commandhandler.cpp
  src/dpp/utility.cpp
Labels: documentation, code

refactor: get rid of reintepret_cast in utf8 utils
  src/dpp/utility.cpp
Labels: code

fix: properly free ssl session and ssl context
  src/dpp/sslclient.cpp
Labels: code

refactor: fix and improve utf8 utilities (#1046)
  include/dpp/utility.h
  src/dpp/commandhandler.cpp
  src/dpp/utility.cpp
Labels: documentation, code

fix: properly free ssl session and ssl context (#1049)
  src/dpp/sslclient.cpp
Labels: code

fix: remove unnecessary SSL_free
  src/dpp/sslclient.cpp
Labels: code

fix: remove unnecessary SSL_free (#1050)
  src/dpp/sslclient.cpp
Labels: code

CI: unittest and non-unittest jobs are now merged into one
  .github/workflows/ci.yml
Labels: github_actions

CI: fixed concurrency cancelling all other jobs
  .github/workflows/ci.yml
Labels: github_actions

CI: last fix didn't work, actually fixed this time.
  .github/workflows/ci.yml
Labels: github_actions

CI: unit-test and non unit-test jobs are now merged into one (#1051)
  .github/workflows/ci.yml
Labels: github_actions

Fix cmyk calculations
  src/dpp/utility.cpp
Labels: code

fix: cmyk calculations - blue value calculations
  src/dpp/utility.cpp
Labels: code

fix: cmyk calculations - blue value calculations (#1053)
  src/dpp/utility.cpp
Labels: code

docs: improve windows VS tutorials
  .cspell.json
  docpages/install/install-windows-vs-zip.md
  docpages/make_a_bot/windows_vs.md
Labels: documentation

docs: improve windows VS tutorials (#1058)
  .cspell.json
  docpages/install/install-windows-vs-zip.md
  docpages/make_a_bot/windows_vs.md
Labels: documentation

Remove the misleading note.
  docpages/make_a_bot/xcode.md
Labels: documentation

Remove misleading note.
  docpages/make_a_bot/xcode.md
Labels: documentation

fix: send stickers in message if present
  include/dpp/message.h
  src/dpp/message.cpp
Labels: documentation, code

feat: dpp::message::add_sticker
  include/dpp/message.h
  src/dpp/message.cpp
Labels: documentation, code

fix: send stickers in message if present
  include/dpp/message.h
  src/dpp/message.cpp
Labels: documentation, code

feat: dpp::message::add_sticker
  include/dpp/message.h
  src/dpp/message.cpp
Labels: documentation, code

docs: Update Xcode page. (#1061)
  docpages/make_a_bot/xcode.md
Labels: documentation

.github/labeler.yml:

documentation:
- '**Doxyfile'
- '**docpages/**'
- '**/*.h'
- '**/documentation.yml'
- '**.cspell.json'
- '**README.md'
- '**SECURITY.md'
- '**CONTRIBUTING.md'
- '**CODE_OF_CONDUCT.md'
build:
- '**buildtools/**'
- '**cmake/**'
- '**library-vcpkg/**'
- '**library/**'
- '**win32/**'
- '**CMakeLists.txt'
- '**CMakeSettings.json'
- '**settings.json'
- '**dpp.pc.in'
packaging:
- '**vcpkg/**'
- '**makerelease.sh'
- '**sign.sh'
- '**Dockerfile'
submodules:
- '**.gitmodules'
- '**doxygen-awesome-css/**' # Ideally, nobody should be touching this, but it's here just in-case.
github_actions:
- '**.github/labeler.yml'
- '**.github/dependabot.yml'
- '**.github/workflows/**'
code:
- '**src/**'
- '**include/**'
