Repository brainboxdotcc/DPP, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, build, packaging, submodules, github_actions, code

.github/labeler.yml:

documentation:
- '**Doxyfile'
- '**docpages/**'
- '**/*.h'
- '**/documentation.yml'
- '**.cspell.json'
- '**README.md'
- '**SECURITY.md'
- '**CONTRIBUTING.md'
- '**CODE_OF_CONDUCT.md'
build:
- '**buildtools/**'
- '**cmake/**'
- '**library-vcpkg/**'
- '**library/**'
- '**win32/**'
- '**CMakeLists.txt'
- '**CMakeSettings.json'
- '**settings.json'
- '**dpp.pc.in'
packaging:
- '**vcpkg/**'
- '**makerelease.sh'
- '**sign.sh'
- '**Dockerfile'
submodules:
- '**.gitmodules'
- '**doxygen-awesome-css/**' # Ideally, nobody should be touching this, but it's here just in-case.
github_actions:
- '**.github/labeler.yml'
- '**.github/dependabot.yml'
- '**.github/workflows/**'
code:
- '**src/**'
- '**include/**'

feat: Added the ability to set voice channel statuses
  include/dpp/cluster.h
  src/dpp/cluster/channel.cpp
Labels: documentation, code

fix: confirmation is no longer a list from return
  src/dpp/cluster/channel.cpp
Labels: code

feat: added auto-generated cluster and coro calls
  include/dpp/cluster_coro_calls.h
  include/dpp/cluster_sync_calls.h
  src/dpp/cluster_coro_calls.cpp
  src/dpp/cluster_sync_calls.cpp
Labels: documentation, code

feat: Added the ability to set voice channel statuses (#1064)
  include/dpp/cluster.h
  include/dpp/cluster_coro_calls.h
  include/dpp/cluster_sync_calls.h
  src/dpp/cluster/channel.cpp
  src/dpp/cluster_coro_calls.cpp
  src/dpp/cluster_sync_calls.cpp
Labels: documentation, code

feat: added expire and issued timestamp in attachment
  include/dpp/message.h
  src/dpp/message.cpp
Labels: documentation, code

fix: check for eventual absence of attributes
  src/dpp/message.cpp
Labels: code

First test of SCM conan 2.0
  conan/conanfile.py
  library/CMakeLists.txt
Labels: build

Fixed requires
  conan/conanfile.py
Labels: none

Added package info for libs
  conan/conanfile.py
Labels: none

renamed libdpp to dpp
  conan/conanfile.py
Labels: none

Made CmakeLists work for both conan and non conan users
  library/CMakeLists.txt
Labels: build

Added documentation for using conan
  docpages/install/install-conan.md
Labels: documentation

Changed how conan detected and changed how opus is checked
  conan/conanfile.py
  library/CMakeLists.txt
Labels: build

Added DPP_NO_CONAN to pipeline, moved conan cmake out of main library CMakeLists.txt, root CMakeLists now detects conan and uses its cmake if detected
  .github/workflows/ci.yml
  CMakeLists.txt
  library-conan/CMakeLists.txt
Labels: build, github_actions

Reset ci.yml since github wont let me commit
  .github/workflows/ci.yml
Labels: github_actions

Fixed 1 error and tabbing
  conan/conanfile.py
Labels: none

Added missing endif()
  CMakeLists.txt
  conan/conanfile.py
  library-conan/CMakeLists.txt
Labels: build

Fixed one compilation error that wasn't caught on the compiler for some reason (assuming because DPP_CORO wasn't on)
  src/dpp/cluster_coro_calls.cpp
Labels: code

Fixed another stupid mistake, this should be all
  src/dpp/cluster_coro_calls.cpp
Labels: code

Added parent folder for commit instead of recipe folder and BUILD_VOICE_SUPPORT by default
  conan/conanfile.py
Labels: none

Fixed CMake variables for opus and libsodium
  library-conan/CMakeLists.txt
Labels: none

Removed load from conan.tools.files and moved conan recipe into library-conan folder
  library-conan/conanfile.py
Labels: none

Since they're auto-generated, removed the sync and coro variants.
  include/dpp/cluster_coro_calls.h
  include/dpp/cluster_sync_calls.h
  src/dpp/cluster_coro_calls.cpp
  src/dpp/cluster_sync_calls.cpp
Labels: documentation, code

Removed extra function call because it must use a specific forma.
  src/dpp/cluster/guild_member.cpp
  src/dpp/cluster_sync_calls.cpp
Labels: code

Updated cluster.h timestamp so that the autogenerated files will be autogenerated
  include/dpp/cluster_coro_calls.h
  include/dpp/cluster_sync_calls.h
  src/dpp/cluster_coro_calls.cpp
  src/dpp/cluster_sync_calls.cpp
Labels: documentation, code

Added dpp::cluster::guild_member_timeout_remove and its sync/coro versions (#1067)
  include/dpp/cluster.h
  include/dpp/cluster_coro_calls.h
  include/dpp/cluster_sync_calls.h
  src/dpp/cluster/guild_member.cpp
  src/dpp/cluster_coro_calls.cpp
  src/dpp/cluster_sync_calls.cpp
Labels: documentation, code
