Repository brainboxdotcc/DPP, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, build, packaging, submodules, github_actions, code

getsockopt
  src/dpp/socketengines/poll.cpp
Labels: code

kqueue fixes
  src/dpp/socketengines/kqueue.cpp
Labels: code

kqueue fixes
  src/dpp/socketengines/kqueue.cpp
Labels: code

move se stuff into dpp namespace
  include/dpp/socketengine.h
  src/dpp/socketengine.cpp
  src/dpp/socketengines/epoll.cpp
  src/dpp/socketengines/kqueue.cpp
  src/sockettest/socket.cpp
Labels: documentation, code

missing name
  src/dpp/socketengines/poll.cpp
Labels: code

docs: added a timers page, added a note in setting_status for timers (#1120)
  docpages/example_code/timers_example1.cpp
  docpages/example_code/timers_example2.cpp
  docpages/example_code/timers_example3.cpp
  docpages/example_programs/misc.md
  docpages/example_programs/misc/setting_status.md
  docpages/example_programs/misc/using_timers.md
  docpages/images/timers_example1.png
  docpages/images/timers_example3.png
Labels: documentation

Only set signals to Ignore on non-Linux of no signal-handler is in place. Also set the SA_RESTART flag to avoid operations returning EINTR.
  src/dpp/sslclient.cpp
Labels: code

quick fix for error in logging
  src/dpp/utility.cpp
Labels: code

fix error breakage when no errors array
  src/dpp/cluster/confirmation.cpp
Labels: code

Added an example on how to edit an embed, inspired by a question in the server.
  docpages/example_code/editing_messages.cpp
Labels: documentation

capturing "bot" is not needed. Removing it resolves an unused variable warning.
  src/unittest/test.cpp
Labels: code

capturing "bot" is not needed. Removing it resolves an unused variable warning.
  src/unittest/test.cpp
Labels: code

capturing "bot" is not needed. Removing it resolves an unused variabl… (#1132)
  src/unittest/test.cpp
Labels: code

the code now compiles and works as intended, slightly edited the page so it briefly describes embeds
  docpages/example_code/editing_messages.cpp
  docpages/example_programs/the_basics/editing-channels-and-messages.md
  docpages/images/stuff_edit3.png
  docpages/images/stuff_edit4.png
Labels: documentation

changed the wording
  docpages/example_programs/the_basics/editing-channels-and-messages.md
Labels: documentation

Fixed the indentation to be tabs instead of spaces
  docpages/example_code/editing_messages.cpp
Labels: documentation

put comments before the lines they belong to
  docpages/example_code/editing_messages.cpp
Labels: documentation

Moved a note into an actual note block, corrected a comment
  docpages/example_code/editing_messages.cpp
  docpages/example_programs/the_basics/editing-channels-and-messages.md
Labels: documentation

fix: clear track meta and reset tracjs count on stop audio
  src/dpp/discordvoiceclient.cpp
Labels: code

refactor: faster erase
  src/dpp/discordvoiceclient.cpp
Labels: code

fix: let the marker be handled by sending thread
  src/dpp/discordvoiceclient.cpp
Labels: code

fix: revert to erasing found marker, fix previous impl bug: should +1 to inlcude erasing the marker
  src/dpp/discordvoiceclient.cpp
Labels: code

refactor: avoid hardcoded suze
  src/dpp/discordvoiceclient.cpp
Labels: code

fix: forgot to remove this one
  src/dpp/discordvoiceclient.cpp
Labels: code

change memset to modern C++
  src/dpp/sslclient.cpp
Labels: code

fix: Moving signal handler setup to function and setting SIGPIPE always to ignore
  src/dpp/sslclient.cpp
Labels: code

fix: Only set signals to Ignore on non-Linux of no signal-handler is in place. Also set the SA_RESTART flag to avoid operations returning EINTR.
  src/dpp/sslclient.cpp
Labels: code

fix: ignoring SIGHUP as well
  src/dpp/sslclient.cpp
Labels: code

fix: Updated signal handlers for non-Windows Platforms to follow coding-style and reduced the numbers of memset
  src/dpp/sslclient.cpp
Labels: code

fix: follow coding style
  src/dpp/sslclient.cpp
Labels: code

fix indentation
  src/dpp/discordvoiceclient.cpp
Labels: code

fix: fix uncaught exception on some error formats
  src/dpp/cluster/confirmation.cpp
Labels: code

feat: poll support
  include/dpp/cluster.h
  include/dpp/cluster_coro_calls.h
  include/dpp/dispatcher.h
  include/dpp/event.h
  include/dpp/message.h
  include/dpp/restrequest.h
  src/dpp/cluster/message.cpp
  src/dpp/cluster_coro_calls.cpp
  src/dpp/discordevents.cpp
  src/dpp/events/message_poll_vote_add.cpp
  src/dpp/events/message_poll_vote_remove.cpp
  src/dpp/message.cpp
  src/unittest/test.cpp
  src/unittest/test.h
Labels: documentation, code

fix: newlines at end of files
  src/dpp/events/message_poll_vote_add.cpp
  src/dpp/events/message_poll_vote_remove.cpp
Labels: code

fix: make c++17 happy
  src/dpp/message.cpp
Labels: code

docs: grammar & add nodiscard to some things
  include/dpp/message.h
Labels: documentation, code

fix: fix array syntax & add test for poll error
  src/dpp/cluster/confirmation.cpp
  src/unittest/test.cpp
Labels: code

fix: actually just do this. sorry brain
  include/dpp/restresults.h
  src/dpp/cluster/confirmation.cpp
Labels: documentation, code

fix: fix human_readable for good (#1135)
  include/dpp/restresults.h
  src/dpp/cluster/confirmation.cpp
  src/unittest/test.cpp
Labels: documentation, code

feat: poll support (#1136)
  include/dpp/cluster.h
  include/dpp/cluster_coro_calls.h
  include/dpp/dispatcher.h
  include/dpp/event.h
  include/dpp/message.h
  include/dpp/restrequest.h
  src/dpp/cluster/message.cpp
  src/dpp/cluster_coro_calls.cpp
  src/dpp/discordevents.cpp
  src/dpp/events/message_poll_vote_add.cpp
  src/dpp/events/message_poll_vote_remove.cpp
  src/dpp/message.cpp
  src/unittest/test.cpp
  src/unittest/test.h
Labels: documentation, code

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file:
    - '**Doxyfile'
    - '**docpages/**'
    - '**/*.h'
    - '**/documentation.yml'
    - '**.cspell.json'
    - '**README.md'
    - '**SECURITY.md'
    - '**CONTRIBUTING.md'
    - '**CODE_OF_CONDUCT.md'

build:
- changed-files:
  - any-glob-to-any-file:
    - '**buildtools/**'
    - '**cmake/**'
    - '**library-vcpkg/**'
    - '**library/**'
    - '**win32/**'
    - '**CMakeLists.txt'
    - '**CMakeSettings.json'
    - '**settings.json'
    - '**dpp.pc.in'

packaging:
- changed-files:
  - any-glob-to-any-file:
    - '**vcpkg/**'
    - '**makerelease.sh'
    - '**sign.sh'
    - '**Dockerfile'

submodules:
- changed-files:
  - any-glob-to-any-file:
    - '**.gitmodules'
    - '**doxygen-awesome-css/**' # Ideally, nobody should be touching this, but it's here just in-case.

github_actions:
- changed-files:
  - any-glob-to-any-file:
    - '**.github/labeler.yml'
    - '**.github/dependabot.yml'
    - '**.github/workflows/**'

code:
- changed-files:
  - any-glob-to-any-file:
    - '**src/**'
    - '**include/**'
