Repository brainboxdotcc/DPP, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, build, packaging, submodules, github_actions, code

.github/labeler.yml:

documentation:
- '**Doxyfile'
- '**docpages/**'
- '**/*.h'
- '**/documentation.yml'
- '**.cspell.json'
- '**README.md'
- '**SECURITY.md'
- '**CONTRIBUTING.md'
- '**CODE_OF_CONDUCT.md'
build:
- '**buildtools/**'
- '**cmake/**'
- '**library-vcpkg/**'
- '**library/**'
- '**win32/**'
- '**CMakeLists.txt'
- '**CMakeSettings.json'
- '**settings.json'
- '**dpp.pc.in'
packaging:
- '**vcpkg/**'
- '**makerelease.sh'
- '**sign.sh'
- '**Dockerfile'
submodules:
- '**.gitmodules'
- '**doxygen-awesome-css/**' # Ideally, nobody should be touching this, but it's here just in-case.
github_actions:
- '**.github/labeler.yml'
- '**.github/dependabot.yml'
- '**.github/workflows/**'
code:
- '**src/**'
- '**include/**'

fix: changed image_data to no longer be ptr, fixed casting
  include/dpp/webhook.h
  src/dpp/webhook.cpp
Labels: documentation, code

fix: no more ~webhook
  include/dpp/webhook.h
Labels: documentation, code

fix: make embed color optional
  include/dpp/message.h
  src/dpp/message.cpp
Labels: documentation, code

fix: proper json to embed building
  src/dpp/message.cpp
Labels: code

docs(coro): update docs to reflect changes to event routers
  docpages/example_code/coro_awaiting_events.cpp
  docpages/example_code/coro_expiring_buttons.cpp
  docpages/example_code/coro_intro.cpp
  docpages/example_code/coro_simple_commands1.cpp
  docpages/example_code/coro_simple_commands2.cpp
  docpages/example_programs/using_coroutines/coro_introduction.md
  include/dpp/event_router.h
Labels: documentation, code

fix: make embed color optional (#961)
  include/dpp/message.h
  src/dpp/message.cpp
Labels: documentation, code

fix: support subcmd autocomplete
  src/dpp/events/interaction_create.cpp
Labels: code

feat: turn lambda into anon namespace func
  src/dpp/events/interaction_create.cpp
Labels: code

fix: fixed a compile issue
  src/dpp/webhook.cpp
Labels: code

refactor: changed comments to follow new standard
  include/dpp/emoji.h
Labels: documentation, code

docs: added more information about comments to code-conv
  docpages/advanced_reference/coding_style_standards.md
Labels: documentation

docs: moved all code into individual code files in example_code
  docpages/advanced_reference/coding_style_standards.md
  docpages/example_code/coding_style_standards/comments.cpp
  docpages/example_code/coding_style_standards/curly_braces.cpp
  docpages/example_code/coding_style_standards/dot_notation.cpp
  docpages/example_code/coding_style_standards/fluent_design.cpp
  docpages/example_code/coding_style_standards/fluent_design2.cpp
  docpages/example_code/coding_style_standards/lists.cpp
  docpages/example_code/coding_style_standards/symbol_exporting.cpp
Labels: documentation

docs: added EOF to the new .cpp files
  docpages/example_code/coding_style_standards/comments.cpp
  docpages/example_code/coding_style_standards/curly_braces.cpp
  docpages/example_code/coding_style_standards/dot_notation.cpp
  docpages/example_code/coding_style_standards/fluent_design.cpp
  docpages/example_code/coding_style_standards/fluent_design2.cpp
  docpages/example_code/coding_style_standards/lists.cpp
  docpages/example_code/coding_style_standards/symbol_exporting.cpp
Labels: documentation

refactor: cleaned up Unit Tests (#948)
  src/unittest/cache.cpp
  src/unittest/discord_objects.cpp
  src/unittest/errors.cpp
  src/unittest/gateway_events.cpp
  src/unittest/http.cpp
  src/unittest/test.cpp
  src/unittest/test.h
  src/unittest/utilities.cpp
Labels: documentation, code

docs: comments are now more specific in code style. (#964)
  docpages/advanced_reference/coding_style_standards.md
  docpages/example_code/coding_style_standards/comments.cpp
  docpages/example_code/coding_style_standards/curly_braces.cpp
  docpages/example_code/coding_style_standards/dot_notation.cpp
  docpages/example_code/coding_style_standards/fluent_design.cpp
  docpages/example_code/coding_style_standards/fluent_design2.cpp
  docpages/example_code/coding_style_standards/lists.cpp
  docpages/example_code/coding_style_standards/symbol_exporting.cpp
Labels: documentation

feat: support subcommand autocomplete (#963)
  src/dpp/events/interaction_create.cpp
Labels: code

feat: added roles to emojis (#959)
  include/dpp/emoji.h
  src/dpp/emoji.cpp
Labels: documentation, code

feat: added application and following support for webhooks. (#960)
  include/dpp/webhook.h
  src/dpp/cluster/webhook.cpp
  src/dpp/webhook.cpp
Labels: documentation, code

Revert "refactor: cleaned up Unit Tests (#948)"
  src/unittest/cache.cpp
  src/unittest/discord_objects.cpp
  src/unittest/errors.cpp
  src/unittest/gateway_events.cpp
  src/unittest/http.cpp
  src/unittest/test.cpp
  src/unittest/test.h
  src/unittest/utilities.cpp
Labels: documentation, code

Revert "refactor: cleaned up Unit Tests" (#966)
  src/unittest/cache.cpp
  src/unittest/discord_objects.cpp
  src/unittest/errors.cpp
  src/unittest/gateway_events.cpp
  src/unittest/http.cpp
  src/unittest/test.cpp
  src/unittest/test.h
  src/unittest/utilities.cpp
Labels: documentation, code

missing runs
  include/dpp/cluster_coro_calls.h
  include/dpp/cluster_sync_calls.h
  src/dpp/cluster_coro_calls.cpp
  src/dpp/cluster_sync_calls.cpp
Labels: documentation, code

fix, test: multiheader-cookie test, now queries a domain and url in our control which returns 3 hard coded test cookies
  src/unittest/test.cpp
Labels: code

fix, test: multiheader-cookie test, now queries a domain and url in our control which returns 3 hard coded test cookies (#968)
  src/unittest/test.cpp
Labels: code

refactor(coro): deprecate dpp::job handler & push dpp::task instead, and remove static_assert in dpp::job (#958)
  docpages/example_code/coro_awaiting_events.cpp
  docpages/example_code/coro_expiring_buttons.cpp
  docpages/example_code/coro_intro.cpp
  docpages/example_code/coro_simple_commands1.cpp
  docpages/example_code/coro_simple_commands2.cpp
  docpages/example_programs/using_coroutines/coro_introduction.md
  include/dpp/coro.h
  include/dpp/coro/async.h
  include/dpp/coro/coroutine.h
  include/dpp/coro/job.h
  include/dpp/coro/task.h
  include/dpp/event_router.h
  include/dpp/export.h
  include/dpp/utility.h
  src/unittest/coro.cpp
Labels: documentation, code

feat: added entitlements for Premium App Subscriptions
  include/dpp/cluster.h
  include/dpp/entitlement.h
  include/dpp/restresults.h
  src/dpp/cluster/entitlement.cpp
  src/dpp/entitlement.cpp
Labels: documentation, code

feat: added SKU, made comment changes in entitlement.
  include/dpp/cluster.h
  include/dpp/entitlement.h
  include/dpp/restresults.h
  include/dpp/sku.h
  src/dpp/cluster/entitlement.cpp
  src/dpp/cluster/sku.cpp
  src/dpp/entitlement.cpp
  src/dpp/sku.cpp
Labels: documentation, code

feat: added entitlement events, added sku to cspell
  .cspell.json
  include/dpp/cluster.h
  include/dpp/dispatcher.h
  include/dpp/event.h
  src/dpp/discordevents.cpp
  src/dpp/events/entitlement_create.cpp
  src/dpp/events/entitlement_delete.cpp
  src/dpp/events/entitlement_update.cpp
Labels: documentation, code

feat: added premium_required interaction type
  include/dpp/appcommand.h
Labels: documentation, code

feat: added sku_map to restresults.h
  include/dpp/restresults.h
Labels: documentation, code

feat: added sync and coro calls.
  include/dpp/cluster_coro_calls.h
  include/dpp/cluster_sync_calls.h
  src/dpp/cluster_coro_calls.cpp
  src/dpp/cluster_sync_calls.cpp
Labels: documentation, code

feat: removed duplicate event
  src/dpp/discordevents.cpp
Labels: code

feat: changed comments in cluster.h, fixed build errors
  include/dpp/cluster.h
  include/dpp/entitlement.h
  include/dpp/sku.h
Labels: documentation, code

feat: fixed spelling mistake in cluster.h
  include/dpp/cluster.h
Labels: documentation, code

feat: added EOF to entitlement events
  include/dpp/entitlement.h
  src/dpp/events/entitlement_create.cpp
  src/dpp/events/entitlement_delete.cpp
  src/dpp/events/entitlement_update.cpp
Labels: documentation, code

feat: changed comments for interaction_response_type
  include/dpp/appcommand.h
Labels: documentation, code

feat: added entitlements and changed comments in interaction.
  include/dpp/appcommand.h
  src/dpp/slashcommand.cpp
Labels: documentation, code

feat: corrected the include of entitlement in appcommand.h
  include/dpp/appcommand.h
Labels: documentation, code

feat: quick comment/spacing fixes.
  include/dpp/dispatcher.h
  include/dpp/event.h
Labels: documentation, code

feat: changed c-style cast to const_cast in slashcommand
  src/dpp/slashcommand.cpp
Labels: code

feat: entitlement events now call the event router
  src/dpp/events/entitlement_create.cpp
  src/dpp/events/entitlement_delete.cpp
  src/dpp/events/entitlement_update.cpp
Labels: code
