Repository brainboxdotcc/DPP, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, build, packaging, submodules, github_actions, code

feat: made sure events don't fire if empty.
  src/dpp/events/entitlement_create.cpp
  src/dpp/events/entitlement_delete.cpp
  src/dpp/events/entitlement_update.cpp
Labels: code

feat: disable version_checker for UE
  include/dpp/restresults.h
Labels: documentation, code

feat: removed version_checker for UE. (#970)
  include/dpp/restresults.h
Labels: documentation, code

feat: dpp::utility::if_success, a shortcut for callbacks
  include/dpp/dpp.h
  include/dpp/extras.h
  include/dpp/utility.h
  src/unittest/test.cpp
  src/unittest/test.h
Labels: documentation, code

feat(#957): utility::image_data for storing... image data
  include/dpp/utility.h
  src/dpp/utility.cpp
Labels: documentation, code

feat(#957): add methods to change guild icon, banner, splash, discovery splash
  include/dpp/guild.h
  src/dpp/guild.cpp
Labels: documentation, code

test(#957): add tests for setting guild images
  src/unittest/test.cpp
  src/unittest/test.h
  src/unittest/unittest.cpp
Labels: documentation, code

fix(#957), refactor: change dpp::role to use utility::image_data
  include/dpp/emoji.h
  include/dpp/role.h
  include/dpp/user.h
  src/dpp/emoji.cpp
  src/dpp/role.cpp
Labels: documentation, code

feat: make dpp::role copyable and movable
  include/dpp/role.h
  src/dpp/role.cpp
Labels: documentation, code

feat(#957): add methods to set a scheduled event's banner
  include/dpp/scheduled_event.h
  src/dpp/scheduled_event.cpp
Labels: documentation, code

feat: added support for Premium App Subscriptions (#969)
  .cspell.json
  include/dpp/appcommand.h
  include/dpp/cluster.h
  include/dpp/cluster_coro_calls.h
  include/dpp/cluster_sync_calls.h
  include/dpp/dispatcher.h
  include/dpp/entitlement.h
  include/dpp/event.h
  include/dpp/restresults.h
  include/dpp/sku.h
  src/dpp/cluster/entitlement.cpp
  src/dpp/cluster/sku.cpp
  src/dpp/cluster_coro_calls.cpp
  src/dpp/cluster_sync_calls.cpp
  src/dpp/discordevents.cpp
  src/dpp/entitlement.cpp
  src/dpp/events/entitlement_create.cpp
  src/dpp/events/entitlement_delete.cpp
  src/dpp/events/entitlement_update.cpp
  src/dpp/sku.cpp
  src/dpp/slashcommand.cpp
Labels: documentation, code

fix(#957): support iconhash/image data variant fields (#965)
  include/dpp/emoji.h
  include/dpp/guild.h
  include/dpp/role.h
  include/dpp/scheduled_event.h
  include/dpp/user.h
  include/dpp/utility.h
  src/dpp/emoji.cpp
  src/dpp/guild.cpp
  src/dpp/role.cpp
  src/dpp/scheduled_event.cpp
  src/dpp/utility.cpp
  src/unittest/test.cpp
  src/unittest/test.h
  src/unittest/unittest.cpp
Labels: documentation, code

ci: fix vcpkg surely
  library-vcpkg/CMakeLists.txt
Labels: build, packaging

ci: fix vcpkg surely (#973)
  library-vcpkg/CMakeLists.txt
Labels: build, packaging

[bot] VCPKG info update [skip ci]
  vcpkg/ports/dpp/portfile.cmake
  vcpkg/ports/dpp/vcpkg.json
  vcpkg/versions/baseline.json
  vcpkg/versions/d-/dpp.json
Labels: packaging

version bump [skip ci]
  include/dpp/version.h
Labels: documentation, code

ci: vcpkg fix
  buildtools/classes/Packager/Vcpkg.php
Labels: build

[bot] VCPKG info update [skip ci]
  vcpkg/versions/baseline.json
  vcpkg/versions/d-/dpp.json
Labels: packaging

refactor: removed inner_select_emoji and moved inner_emoji to emoji.h
  include/dpp/emoji.h
  include/dpp/message.h
Labels: documentation, code

refactor: changed inner_emoji to component_emoji
  include/dpp/message.h
Labels: documentation, code

fix: fixed a compile issue
  include/dpp/emoji.h
Labels: documentation, code

refactor: moved component_emoji to message.h
  include/dpp/emoji.h
  include/dpp/message.h
Labels: documentation, code

style: refactored comments in several files to follow standard
  include/dpp/appcommand.h
  include/dpp/application.h
  include/dpp/automod.h
  include/dpp/ban.h
  include/dpp/cache.h
  include/dpp/coro/async.h
  include/dpp/coro/coro.h
  include/dpp/coro/coroutine.h
  include/dpp/coro/job.h
  include/dpp/coro/task.h
  include/dpp/coro/when_any.h
  include/dpp/sku.h
  include/dpp/wsclient.h
Labels: documentation, code

style: refactored comments in several files to follow standard (#975)
  include/dpp/appcommand.h
  include/dpp/application.h
  include/dpp/automod.h
  include/dpp/ban.h
  include/dpp/cache.h
  include/dpp/coro/async.h
  include/dpp/coro/coro.h
  include/dpp/coro/coroutine.h
  include/dpp/coro/job.h
  include/dpp/coro/task.h
  include/dpp/coro/when_any.h
  include/dpp/sku.h
  include/dpp/wsclient.h
Labels: documentation, code

style: refactored comments part 2
  include/dpp/auditlog.h
  include/dpp/channel.h
  include/dpp/collector.h
  include/dpp/colors.h
  include/dpp/commandhandler.h
  include/dpp/discordevents.h
  include/dpp/discordvoiceclient.h
  include/dpp/dispatcher.h
  include/dpp/dtemplate.h
  include/dpp/emoji.h
  include/dpp/entitlement.h
  include/dpp/etf.h
  include/dpp/event.h
  include/dpp/event_router.h
Labels: documentation, code

refactor: renamed inner_emoji to component_emoji, changed select_menu and component to use it. (#974)
  include/dpp/message.h
Labels: documentation, code

style: refactored comments part 2 (#977)
  include/dpp/auditlog.h
  include/dpp/channel.h
  include/dpp/collector.h
  include/dpp/colors.h
  include/dpp/commandhandler.h
  include/dpp/discordevents.h
  include/dpp/discordvoiceclient.h
  include/dpp/dispatcher.h
  include/dpp/dtemplate.h
  include/dpp/emoji.h
  include/dpp/entitlement.h
  include/dpp/etf.h
  include/dpp/event.h
  include/dpp/event_router.h
Labels: documentation, code

an attempt
  include/dpp/extras.h
  include/dpp/utility.h
Labels: documentation, code

surely
  include/dpp/extras.h
Labels: documentation, code

https://www.youtube.com/watch?v=dQw4w9WgXcQ
  include/dpp/extras.h
Labels: documentation, code

final touches
  include/dpp/extras.h
Labels: documentation, code

style: big chunk of part 3 refactor.
  include/dpp/guild.h
  include/dpp/httpsclient.h
  include/dpp/integration.h
  include/dpp/intents.h
  include/dpp/invite.h
  include/dpp/json_interface.h
  include/dpp/managed.h
Labels: documentation, code

style: big chunk of part 3 refactor.
  include/dpp/guild.h
  include/dpp/httpsclient.h
  include/dpp/integration.h
  include/dpp/intents.h
  include/dpp/invite.h
  include/dpp/json_interface.h
  include/dpp/managed.h
Labels: documentation, code

style: second chunk of part 3 refactor
  include/dpp/misc-enum.h
  include/dpp/once.h
  include/dpp/permissions.h
  include/dpp/presence.h
  include/dpp/prune.h
  include/dpp/queues.h
  include/dpp/restresults.h
Labels: documentation, code

refactor: changed some brief from requested changes
  include/dpp/guild.h
  include/dpp/permissions.h
  include/dpp/presence.h
  include/dpp/queues.h
Labels: documentation, code

style: a couple changes again
  include/dpp/queues.h
Labels: documentation, code

fix: exorcised the scary head. halloween is over
  include/dpp/cluster.h
  include/dpp/export.h
  include/dpp/restresults.h
  src/dpp/cluster.cpp
Labels: documentation, code

ya ya
  include/dpp/export.h
Labels: documentation, code

fix: exorcised the scary head. halloween is over (#980)
  include/dpp/cluster.h
  include/dpp/export.h
  include/dpp/restresults.h
  src/dpp/cluster.cpp
Labels: documentation, code

impro: bump nlohmann to 3.11.2
  include/dpp/nlohmann/json.hpp
  include/dpp/nlohmann/json_fwd.hpp
Labels: code

.github/labeler.yml:

documentation:
- '**Doxyfile'
- '**docpages/**'
- '**/*.h'
- '**/documentation.yml'
- '**.cspell.json'
- '**README.md'
- '**SECURITY.md'
- '**CONTRIBUTING.md'
- '**CODE_OF_CONDUCT.md'
build:
- '**buildtools/**'
- '**cmake/**'
- '**library-vcpkg/**'
- '**library/**'
- '**win32/**'
- '**CMakeLists.txt'
- '**CMakeSettings.json'
- '**settings.json'
- '**dpp.pc.in'
packaging:
- '**vcpkg/**'
- '**makerelease.sh'
- '**sign.sh'
- '**Dockerfile'
submodules:
- '**.gitmodules'
- '**doxygen-awesome-css/**' # Ideally, nobody should be touching this, but it's here just in-case.
github_actions:
- '**.github/labeler.yml'
- '**.github/dependabot.yml'
- '**.github/workflows/**'
code:
- '**src/**'
- '**include/**'
