Repository brainboxdotcc/DPP, pull requests merged in 2021-10, with the labels that each got.

#103 Add support for role icons
  include/dpp/role.h
  src/dpp/role.cpp
Labels: enhancement, hacktoberfest-accepted

#104 docs: voice receive example
  docpages/03_example_programs.md
Labels: documentation, hacktoberfest-accepted

#106 Hotfix for user's flags property
  src/dpp/user.cpp
Labels: bug, hacktoberfest-accepted

#105 fix: code refactor
  src/dpp/auditlog.cpp
  src/dpp/ban.cpp
  src/dpp/cluster.cpp
  src/dpp/commandhandler.cpp
  src/dpp/discordvoiceclient.cpp
  src/dpp/dtemplate.cpp
  src/dpp/httplib.cpp
  src/dpp/invite.cpp
  src/dpp/message.cpp
  src/dpp/presence.cpp
  src/dpp/queues.cpp
  src/dpp/voiceregion.cpp
  src/dpp/voicestate.cpp
Labels: enhancement, hacktoberfest-accepted

#108 fix: Fix general typos and mistakes in the docs
  docpages/02_build.md
  docpages/02_building_a_bot.md
  docpages/03_example_programs.md
  docpages/INDEX.md
Labels: documentation, hacktoberfest-accepted

#109 Fix invalid endpoint in role_create function
  src/dpp/cluster.cpp
Labels: bug, hacktoberfest-accepted

#111 guild_get_members fixes, add guild_search_members
  include/dpp/cluster.h
  include/dpp/message.h
  src/dpp/cluster.cpp
  src/dpp/message.cpp
Labels: enhancement, hacktoberfest-accepted
