Repository brainboxdotcc/DPP, pull requests merged in 2023-08, with the labels that each got.

#718 Added commonly user terms
  .cspell.json
  docpages/INDEX.md
  docpages/disdppgloss.md
Labels: documentation, good first issue

#771 Updated out-dated doc pages to now use slashcommands.
  docpages/advanced_reference/coding_style_standards.md
  docpages/example_programs/interactions_and_components/components.md
  docpages/example_programs/interactions_and_components/components2.md
  docpages/example_programs/interactions_and_components/components3.md
  docpages/example_programs/interactions_and_components/context_menus.md
  docpages/example_programs/interactions_and_components/modal_dialog_interactions.md
  docpages/example_programs/interactions_and_components/slashcommands.md
  docpages/example_programs/interactions_and_components/upload_parameter.md
  docpages/example_programs/misc/cache_messages.md
  docpages/example_programs/music_and_audio/join_voice.md
  docpages/example_programs/music_and_audio/mp3.md
  docpages/example_programs/music_and_audio/oggopus.md
  docpages/example_programs/music_and_audio/record_user.md
  docpages/example_programs/music_and_audio/soundboard.md
  docpages/example_programs/the_basics/attachments.md
  docpages/example_programs/the_basics/embeds.md
  docpages/images/button.png
  docpages/images/button_2.png
  docpages/images/context_menu_user_command.png
  docpages/images/context_menu_user_command_showcase.png
  docpages/images/embed.png
Labels: documentation

#779 docs: fixed errors on reaction collectors example page
  docpages/example_programs/misc/collect_reactions.md
Labels: documentation

#782 docs: fixed typo in documentation example
  docpages/example_programs/interactions_and_components/components2.md
Labels: documentation

#780 docs: Made collect_reactions page more explicit.
  docpages/example_programs/misc/collect_reactions.md
Labels: documentation

#763 feat: coroutines "beta test"
  .cspell.json
  buildtools/classes/Generator/CoroGenerator.php
  docpages/advanced_reference/coroutines.md
  include/dpp/cluster.h
  include/dpp/cluster_coro_calls.h
  include/dpp/cluster_sync_calls.h
  include/dpp/coro.h
  include/dpp/coro/async.h
  include/dpp/coro/coro.h
  include/dpp/coro/coroutine.h
  include/dpp/coro/job.h
  include/dpp/coro/task.h
  include/dpp/dispatcher.h
  include/dpp/event_router.h
  include/dpp/exception.h
  library/CMakeLists.txt
  src/dpp/cluster/sticker.cpp
  src/dpp/cluster/timer.cpp
  src/dpp/cluster_coro_calls.cpp
  src/dpp/cluster_sync_calls.cpp
  src/dpp/dispatcher.cpp
  src/unittest/coro.cpp
  src/unittest/test.cpp
  src/unittest/test.h
  src/unittest/unittest.cpp
Labels: enhancement, project

#797 docs: fixed several small things in docs
  docpages/01_frequently_asked_questions.md
  docpages/advanced_reference/automating-with-jenkins.md
  docpages/advanced_reference/clusters_shards_and_guilds.md
  docpages/advanced_reference/coding_style_standards.md
  docpages/advanced_reference/coroutines.md
  docpages/advanced_reference/governance.md
  docpages/advanced_reference/lambdas_and_locals.md
  docpages/building/freebsd.md
  docpages/building/linux.md
  docpages/building/osx.md
  docpages/building/windows.md
  docpages/example_programs/interactions_and_components/commandhandler.md
  docpages/example_programs/interactions_and_components/components.md
  docpages/example_programs/interactions_and_components/context_menus.md
  docpages/example_programs/interactions_and_components/slashcommands.md
  docpages/example_programs/interactions_and_components/upload_parameter.md
  docpages/example_programs/misc/eval.md
  docpages/example_programs/music_and_audio/oggopus.md
  docpages/example_programs/the_basics/attachments.md
  docpages/example_programs/the_basics/checking-member-permissions.md
  docpages/example_programs/the_basics/embeds.md
  docpages/example_programs/the_basics/firstbot.md
  docpages/install/install-linux-deb.md
  docpages/install/install-linux-rpm.md
  docpages/install/install-vcpkg.md
  docpages/install/install-windows-vs-zip.md
  docpages/make_a_bot/meson.md
  docpages/make_a_bot/replit.md
  docpages/make_a_bot/windows_vs.md
Labels: documentation

#802 docs: created a page for separating events into new classes.
  docpages/06_advanced_reference.md
  docpages/advanced_reference/separate-events.md
  docpages/images/file_example_listeners.png
Labels: documentation

#808 docs: refactored page links
  docpages/01_frequently_asked_questions.md
  docpages/02_disdppgloss.md
  docpages/03_installing.md
  docpages/04_building_a_bot.md
  docpages/05_example_programs.md
  docpages/06_advanced_reference.md
  docpages/INDEX.md
  docpages/advanced_reference/automating-with-jenkins.md
  docpages/advanced_reference/coroutines.md
  docpages/advanced_reference/separate-events.md
  docpages/example_programs/interactions_and_components/detecting-messages.md
  docpages/make_a_bot/clion.md
  docpages/make_a_bot/windows_wsl.md
Labels: documentation

#810 feat: Added dpp::utility::guild_navigation helper
  include/dpp/cluster.h
  include/dpp/message.h
  include/dpp/utility.h
  src/dpp/utility.cpp
  src/unittest/test.cpp
  src/unittest/test.h
Labels: enhancement

#825 Implement clyde AI permission bits
  include/dpp/permissions.h
  include/dpp/role.h
  src/dpp/role.cpp
Labels: enhancement
