Repository brainboxdotcc/DPP, pull requests merged in 2023-09, with the labels that each got.

#858 Updating some variables to be constexpr.
  include/dpp/isa_detection.h
  src/dpp/wsclient.cpp
Labels: enhancement

#859 docs: fixed mistakes, removed [&]
  docpages/advanced_reference/lambdas_and_locals.md
  docpages/example_code/cache_messages.cpp
  docpages/example_code/context_menus.cpp
  docpages/example_code/modal_dialog_interactions.cpp
Labels: documentation

#860 ci: fix avx issues on arm
  cmake/DetectArchitecture.cmake
  include/dpp/discordvoiceclient.h
  include/dpp/isa_detection.h
  src/dpp/discordvoiceclient.cpp
Labels: bug, audio

#732 feat: added avatar decoration url to the dpp::user class
  include/dpp/user.h
  src/dpp/user.cpp
Labels: enhancement

#865 refactor: Improve AVX, make detection a little nicer
  .github/workflows/ci.yml
  cmake/DetectArchitecture.cmake
  include/dpp/isa/avx.h
  include/dpp/isa/avx2.h
  include/dpp/isa/avx512.h
  include/dpp/isa/fallback.h
  include/dpp/isa_detection.h
  include/dpp/utility.h
  library-vcpkg/CMakeLists.txt
  library/CMakeLists.txt
  src/dpp/utility.cpp
Labels: enhancement, audio

#867 refactor: removal of unused cmake and vcpkg stuff, and adding bold red to some error messages
  cmake/PostBuild.cmake
  cmake/Raw-Files/Bottom-Of-Portfile.cmake
  cmake/Raw-Files/Bottom-Of-Version-File.txt
  cmake/Raw-Files/Middle-Of-Portfile.cmake
  cmake/Raw-Files/Top-Of-Portfile.cmake
  cmake/Raw-Files/Top-Of-Version-File.txt
  library-vcpkg/CMakeLists.txt
  library/CMakeLists.txt
Labels: build

#881 Fix formatting in the subcommands example
  docpages/example_code/subcommands.cpp
Labels: documentation

#882 docs: added a voice model page
  docpages/06_advanced_reference.md
  docpages/advanced_reference/voice_model.md
Labels: documentation

#885 fix: awful wrong indentation in stringops
  include/dpp/stringops.h
Labels: documentation, enhancement

#884 Enhancement: Making AudioMixer a member instead of invoking it statically to cut down CPU usage by roughly 50%
  include/dpp/discordvoiceclient.h
  include/dpp/isa/avx.h
  include/dpp/isa/avx2.h
  include/dpp/isa/avx512.h
  src/dpp/discordvoiceclient.cpp
Labels: documentation

#887 docs: added an openbsd page
  docpages/building/02_build.md
  docpages/building/openbsd.md
Labels: documentation

#883 refactor: changed user-agent, more logging, removed infinite loop
  include/dpp/httpsclient.h
  src/dpp/discordvoiceclient.cpp
  src/dpp/queues.cpp
  src/dpp/sslclient.cpp
  src/dpp/utility.cpp
  src/dpp/wsclient.cpp
Labels: documentation

#894 refactor: destroy spawn of satan type punning in ETF parser
  include/dpp/etf.h
  src/dpp/etf.cpp
Labels: documentation

#895 feat: allow disabling of guild and channel caches
  include/dpp/cluster.h
  include/dpp/message.h
  src/dpp/discordvoiceclient.cpp
  src/dpp/events/channel_create.cpp
  src/dpp/events/channel_delete.cpp
  src/dpp/events/channel_update.cpp
  src/dpp/events/guild_create.cpp
  src/dpp/events/guild_delete.cpp
  src/dpp/events/guild_emojis_update.cpp
  src/dpp/events/guild_member_add.cpp
  src/dpp/events/guild_member_update.cpp
  src/dpp/events/guild_members_chunk.cpp
  src/dpp/events/guild_role_create.cpp
  src/dpp/events/guild_role_delete.cpp
  src/dpp/events/guild_role_update.cpp
  src/dpp/events/guild_stickers_update.cpp
  src/dpp/events/guild_update.cpp
  src/dpp/events/thread_create.cpp
  src/dpp/events/thread_delete.cpp
  src/dpp/events/thread_list_sync.cpp
  src/dpp/events/thread_members_update.cpp
  src/dpp/events/thread_update.cpp
  src/dpp/slashcommand.cpp
Labels: documentation, enhancement, project

#897 style: fix some simple style issues that seem to happen a lot
  docpages/example_code/coro_simple_commands2.cpp
  docpages/example_code/join_voice.cpp
  docpages/example_code/oggopus.cpp
  src/dpp/channel.cpp
  src/dpp/cluster.cpp
  src/dpp/discordvoiceclient.cpp
  src/dpp/emoji.cpp
  src/dpp/etf.cpp
  src/dpp/events/voice_state_update.cpp
  src/dpp/guild.cpp
  src/dpp/integration.cpp
  src/dpp/invite.cpp
  src/dpp/message.cpp
  src/dpp/presence.cpp
  src/dpp/queues.cpp
  src/dpp/slashcommand.cpp
  src/dpp/sslclient.cpp
  src/dpp/utility.cpp
  src/dpp/voiceregion.cpp
  src/dpp/voicestate.cpp
  src/dpp/webhook.cpp
  src/dpp/wsclient.cpp
  src/unittest/coro.cpp
  src/unittest/test.cpp
  src/unittest/unittest.cpp
Labels: documentation

#896 docs: changed the notes on read_file.
  include/dpp/utility.h
Labels: documentation

#898 fix: base64 sslclient key
  src/dpp/wsclient.cpp
Labels: bug, audio

#899 fix, chore, perf, style, feat, improv, refactor, test, docs: update dispatcher.h/.cpp
  CMakeSettings.json
  include/dpp/dispatcher.h
  src/dpp/dispatcher.cpp
  src/unittest/test.cpp
  src/unittest/test.h
Labels: build

#900 fix: should fix #714, closes out issue where length of websocket-sec-key was wrong
  src/dpp/wsclient.cpp
Labels: bug, audio, build
