Repository brainboxdotcc/DPP, pull requests merged in 2023-11, with the labels that each got.

#991 build: updated nlohmann to 3.11.2
  include/dpp/nlohmann/json.hpp
  include/dpp/nlohmann/json_fwd.hpp
Labels: dependencies, build, code

#992 fix: integer autocompletes no longer cause crash
  src/dpp/events/interaction_create.cpp
  src/dpp/slashcommand.cpp
Labels: bug, code

#996 style: the final comments refactor.
  buildtools/emojis.php
  include/dpp/message.h
  include/dpp/misc-enum.h
  include/dpp/role.h
  include/dpp/scheduled_event.h
  include/dpp/sku.h
  include/dpp/stage_instance.h
  include/dpp/timed_listener.h
  include/dpp/timer.h
  include/dpp/unicode_emoji.h
  include/dpp/user.h
  include/dpp/utility.h
  include/dpp/voiceregion.h
  include/dpp/voicestate.h
  include/dpp/webhook.h
  include/dpp/wsclient.h
Labels: documentation, code

#999 refactor: changed the way messages holds files
  include/dpp/cluster.h
  include/dpp/message.h
  src/dpp/cluster.cpp
  src/dpp/cluster/appcommand.cpp
  src/dpp/cluster/message.cpp
  src/dpp/cluster/thread.cpp
  src/dpp/cluster/webhook.cpp
  src/dpp/dispatcher.cpp
  src/dpp/message.cpp
Labels: documentation, project, breaking, code

#997 fix: voiceregion now fills correctly, removed VIP from regions.
  include/dpp/voiceregion.h
  src/dpp/voiceregion.cpp
Labels: documentation, code

#998 style: corrected some left over style issues.
  include/dpp/emoji.h
  include/dpp/isa/avx.h
  include/dpp/isa/avx2.h
  include/dpp/isa/avx512.h
  include/dpp/voicestate.h
  src/dpp/utility.cpp
  src/dpp/voicestate.cpp
Labels: documentation, code

#1000 docs: altered the OSX page
  docpages/building/osx.md
Labels: documentation

#1001 fix: fixed unittest for mac, ctest now works
  .gitignore
  CMakeLists.txt
  library/CMakeLists.txt
  src/unittest/test.h
Labels: documentation, build, code

#1004 fix: changed default audio type for windows
  include/dpp/discordvoiceclient.h
Labels: documentation, code

#1002 docs: corrected punctuation and refs
  README.md
  docpages/INDEX.md
Labels: documentation

#1003 ci: unit tests now use ctest, macos now unit tests
  .github/workflows/ci.yml
Labels: github_actions

#1012 docs: corrected some issues in clearing_slashcommands.cpp
  docpages/example_code/clearing_slashcommands.cpp
Labels: documentation

#1013 docs: changes to buildlinux, firstbot, and install-arch-aur.
  docpages/building/linux.md
  docpages/example_programs/the_basics/firstbot.md
  docpages/install/install-arch-aur.md
Labels: documentation

#1014 docs: added a docs convention
  .github/PULL_REQUEST_TEMPLATE/docs_change_template.md
  docpages/06_advanced_reference.md
  docpages/advanced_reference/docs-style-standards.md
Labels: documentation

#1020 Revert "docs: changes to buildlinux, firstbot, and install-arch-aur."
  docpages/building/linux.md
  docpages/example_programs/the_basics/firstbot.md
  docpages/install/install-arch-aur.md
Labels: documentation

#1018 docs: improved some sections for docs-style-standards
  docpages/advanced_reference/docs-style-standards.md
Labels: documentation

#1006 docs: added install page for brew
  docpages/03_installing.md
  docpages/install/install-brew.md
Labels: documentation

#1023 docs: fixed colour scheme after recent doxygen changes
  docpages/style.css
Labels: documentation
