Repository brainboxdotcc/DPP, pull requests merged in 2023-12, with the labels that each got.

#1030 docs: added an xcode page for osx
  .github/PULL_REQUEST_TEMPLATE/docs_change_template.md
  docpages/04_building_a_bot.md
  docpages/images/xcode_output.png
  docpages/images/xcode_run.png
  docpages/images/xcode_token.png
  docpages/make_a_bot/xcode.md
Labels: documentation

#1036 feat: add error codes to exceptions
  .vscode/settings.json
  include/dpp/event_router.h
  include/dpp/exception.h
  include/dpp/sync.h
  src/dpp/cluster.cpp
  src/dpp/cluster/user.cpp
  src/dpp/commandhandler.cpp
  src/dpp/discordclient.cpp
  src/dpp/discordvoiceclient.cpp
  src/dpp/dns.cpp
  src/dpp/emoji.cpp
  src/dpp/etf.cpp
  src/dpp/guild.cpp
  src/dpp/message.cpp
  src/dpp/scheduled_event.cpp
  src/dpp/slashcommand.cpp
  src/dpp/sslclient.cpp
  src/dpp/webhook.cpp
Labels: documentation, code

#1038 feat: added guilds array and count to ready_t
  include/dpp/dispatcher.h
  src/dpp/events/ready.cpp
Labels: documentation, code

#1040 feat: Made iteration_interval changeable.
  include/dpp/discordvoiceclient.h
  src/dpp/discordvoiceclient.cpp
Labels: documentation, code

#1039 docs: made the setting_status page use the latest ready_t feature
  docpages/example_code/setting_status2.cpp
  docpages/example_programs/misc/setting_status.md
Labels: documentation

#1044 fix: use of uninitialized value in command_option copy ctor
  src/dpp/slashcommand.cpp
Labels: code

#1043 fix: avoid memory leaks in event_map
  src/dpp/discordevents.cpp
Labels: code

#1046 refactor: fix and improve utf8 utilities
  include/dpp/utility.h
  src/dpp/commandhandler.cpp
  src/dpp/utility.cpp
Labels: documentation, code

#1049 fix: properly free ssl session and ssl context
  src/dpp/sslclient.cpp
Labels: code

#1050 fix: remove unnecessary SSL_free
  src/dpp/sslclient.cpp
Labels: code

#1053 fix: cmyk calculations - blue value calculations
  src/dpp/utility.cpp
Labels: code
