Repository brainboxdotcc/DPP, pull requests merged in 2023-10, with the labels that each got.

#903 ci: Improved security on workflows.
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/construct-vcpkg-info.yml
  .github/workflows/docker.yml
  .github/workflows/documentation-check.yml
  .github/workflows/documentation.yml
  .github/workflows/gitguardian.yml
  .github/workflows/labeler.yml
  .github/workflows/sitemap.yml
  .github/workflows/stale.yml
  .github/workflows/target-master.yml
  .github/workflows/test-docs-examples.yml
Labels: github_actions

#891 docs: added OpenBSD to readme
  README.md
Labels: documentation

#909 breaking, fix: guild_member state tracking
  include/dpp/guild.h
  src/dpp/guild.cpp
  src/dpp/role.cpp
  src/unittest/coro.cpp
  src/unittest/test.h
Labels: bug, documentation

#911 fix: guild member flags can't be set by a bot
  src/dpp/guild.cpp
Labels: bug

#913 ci: changes to labeler, stopped labeler from changing every push.
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: github_actions

#914 docs: corrected freebsd.md and openbsd.md
  docpages/building/freebsd.md
  docpages/building/openbsd.md
Labels: documentation

#915 docs: merged all changes to make_a_bot from #820
  docpages/make_a_bot/meson.md
  docpages/make_a_bot/replit.md
  docpages/make_a_bot/token.md
  docpages/make_a_bot/windows_vs.md
Labels: documentation

#917 ci: fixed an issue with labeler failing
  .github/workflows/labeler.yml
Labels: github_actions

#916 docs: embedded video into windows_vs.md
  docpages/make_a_bot/windows_vs.md
Labels: documentation

#918 feat: added an error for caps in command_option.
  src/dpp/slashcommand.cpp
Labels: enhancement, code

#919 ci: cancel concurrent test docs examples
  .github/workflows/test-docs-examples.yml
Labels: github_actions

#920 style: removed blank lines in dtemplate
  src/dpp/dtemplate.cpp
Labels: code

#921 feat: improved human readable error messages to default logger, with unit test
  .vscode/settings.json
  include/dpp/restresults.h
  src/dpp/cluster/confirmation.cpp
  src/dpp/utility.cpp
  src/unittest/test.cpp
  src/unittest/test.h
Labels: documentation, code

#924 feat: added support for hsl colors
  include/dpp/utility.h
  src/dpp/utility.cpp
Labels: documentation, enhancement, code

#926 build: refactor json.h out of include from discordevents.h
  include/dpp/discordevents.h
  src/dpp/discordevents.cpp
Labels: documentation, build, code

#927 build: fix #926, speedrun to #1000
  include/dpp/discordevents.h
  src/dpp/discordevents.cpp
Labels: documentation, build, code

#928 fix: fix bug introduced by #927
  src/dpp/discordevents.cpp
Labels: code

#912 improv: freshen up dpp::snowflake and dpp::managed
  include/dpp/cluster.h
  include/dpp/discordclient.h
  include/dpp/discordvoiceclient.h
  include/dpp/event_router.h
  include/dpp/json.h
  include/dpp/json_fwd.h
  include/dpp/managed.h
  include/dpp/restresults.h
  include/dpp/snowflake.h
  src/dpp/managed.cpp
  src/dpp/snowflake.cpp
  src/unittest/test.cpp
  src/unittest/test.h
Labels: enhancement

#923 DOCS: added resolved object example
  docpages/example_code/resolved_objects.cpp
  docpages/example_programs/interactions_and_components.md
  docpages/example_programs/interactions_and_components/resolved_objects.md
Labels: documentation

#931 fix: threads now send correctly to discord.
  src/dpp/channel.cpp
Labels: bug, code

#932 docs: changed making_threads.md to include more info
  docpages/example_code/making_threads3.cpp
  docpages/example_programs/interactions_and_components/making_threads.md
  docpages/images/creating_thread_3.png
Labels: documentation

#933 fix: fix clang c++17 build
  include/dpp/managed.h
  include/dpp/snowflake.h
Labels: bug, build, code

#938 feat: added bulk command deleting.
  include/dpp/cluster.h
  include/dpp/cluster_coro_calls.h
  include/dpp/cluster_sync_calls.h
  src/dpp/cluster/appcommand.cpp
  src/dpp/cluster_coro_calls.cpp
  src/dpp/cluster_sync_calls.cpp
Labels: documentation, enhancement, code

#939 docs: added a page for clearing slashcommands
  docpages/example_code/clearing_slashcommands.cpp
  docpages/example_programs/interactions_and_components.md
  docpages/example_programs/interactions_and_components/clearing_slashcommands.md
Labels: documentation

#940 docs: refactored code examples to comply with code standard
  docpages/example_code/attachments1.cpp
  docpages/example_code/attachments2.cpp
  docpages/example_code/attachments3.cpp
  docpages/example_code/autocomplete.cpp
  docpages/example_code/callbacks.cpp
  docpages/example_code/commandhandler.cpp
  docpages/example_code/components.cpp
  docpages/example_code/components2.cpp
  docpages/example_code/components3.cpp
  docpages/example_code/context_menus.cpp
  docpages/example_code/coro_awaiting_events.cpp
  docpages/example_code/coro_expiring_buttons.cpp
  docpages/example_code/coro_intro.cpp
  docpages/example_code/coro_simple_commands1.cpp
  docpages/example_code/coro_simple_commands2.cpp
  docpages/example_code/detecting_messages.cpp
  docpages/example_code/editing_messages.cpp
  docpages/example_code/embeds.cpp
  docpages/example_code/ephemeral.cpp
  docpages/example_code/eval.cpp
  docpages/example_code/firstbot.cpp
  docpages/example_code/firstbot2.cpp
  docpages/example_code/firstbot3.cpp
  docpages/example_code/firstbot4.cpp
  docpages/example_code/firstbot5.cpp
  docpages/example_code/firstbot6.cpp
  docpages/example_code/http_request.cpp
  docpages/example_code/join_voice.cpp
  docpages/example_code/making_threads1.cpp
  docpages/example_code/making_threads2.cpp
  docpages/example_code/making_threads3.cpp
  docpages/example_code/modal_dialog_interactions.cpp
  docpages/example_code/mp3.cpp
  docpages/example_code/oggopus.cpp
  docpages/example_code/private_messaging.cpp
  docpages/example_code/record_user.cpp
  docpages/example_code/resolved_objects.cpp
  docpages/example_code/setting_status1.cpp
  docpages/example_code/setting_status2.cpp
  docpages/example_code/slashcommands1.cpp
  docpages/example_code/slashcommands2.cpp
  docpages/example_code/slashcommands3.cpp
  docpages/example_code/slashcommands4.cpp
  docpages/example_code/soundboard.cpp
  docpages/example_code/subcommands.cpp
  docpages/example_code/upload_parameter.cpp
  docpages/example_code/using_cache.cpp
  docpages/example_code/webhooks.cpp
Labels: documentation, project, code

#937 refactor: fix json_interface
  include/dpp/appcommand.h
  include/dpp/application.h
  include/dpp/auditlog.h
  include/dpp/automod.h
  include/dpp/ban.h
  include/dpp/channel.h
  include/dpp/dtemplate.h
  include/dpp/emoji.h
  include/dpp/guild.h
  include/dpp/integration.h
  include/dpp/invite.h
  include/dpp/json_interface.h
  include/dpp/message.h
  include/dpp/presence.h
  include/dpp/prune.h
  include/dpp/restresults.h
  include/dpp/role.h
  include/dpp/scheduled_event.h
  include/dpp/stage_instance.h
  include/dpp/user.h
  include/dpp/voiceregion.h
  include/dpp/voicestate.h
  include/dpp/webhook.h
  src/dpp/application.cpp
  src/dpp/auditlog.cpp
  src/dpp/automod.cpp
  src/dpp/ban.cpp
  src/dpp/channel.cpp
  src/dpp/cluster.cpp
  src/dpp/cluster/appcommand.cpp
  src/dpp/cluster/guild.cpp
  src/dpp/cluster/guild_member.cpp
  src/dpp/cluster/role.cpp
  src/dpp/cluster/thread.cpp
  src/dpp/cluster/webhook.cpp
  src/dpp/dtemplate.cpp
  src/dpp/emoji.cpp
  src/dpp/guild.cpp
  src/dpp/integration.cpp
  src/dpp/invite.cpp
  src/dpp/message.cpp
  src/dpp/presence.cpp
  src/dpp/prune.cpp
  src/dpp/role.cpp
  src/dpp/scheduled_event.cpp
  src/dpp/slashcommand.cpp
  src/dpp/stage_instance.cpp
  src/dpp/user.cpp
  src/dpp/voiceregion.cpp
  src/dpp/voicestate.cpp
  src/dpp/webhook.cpp
  src/unittest/test.cpp
  src/unittest/test.h
Labels: enhancement, code

#942 docs: reorganize interactions and components, add subcategories and move some things to other places
  docpages/example_programs/interactions_and_components.md
  docpages/example_programs/interactions_and_components/components-menu.md
  docpages/example_programs/interactions_and_components/components/components.md
  docpages/example_programs/interactions_and_components/components/components2.md
  docpages/example_programs/interactions_and_components/components/components3.md
  docpages/example_programs/interactions_and_components/slashcommands-menu.md
  docpages/example_programs/interactions_and_components/slashcommands/autocomplete.md
  docpages/example_programs/interactions_and_components/slashcommands/clearing_slashcommands.md
  docpages/example_programs/interactions_and_components/slashcommands/commandhandler.md
  docpages/example_programs/interactions_and_components/slashcommands/slashcommands.md
  docpages/example_programs/interactions_and_components/slashcommands/subcommands.md
  docpages/example_programs/interactions_and_components/slashcommands/upload_parameter.md
  docpages/example_programs/misc.md
  docpages/example_programs/misc/making_threads.md
  docpages/example_programs/the_basics.md
  docpages/example_programs/the_basics/detecting-messages.md
  docpages/example_programs/the_basics/private-messaging.md
Labels: documentation

#943 fix: make snowflake formattable again
  include/dpp/snowflake.h
Labels: documentation, enhancement, code

#945 fix: dont require guild cache to fill member roles in message
  src/dpp/message.cpp
Labels: code

#947 docs: added a page for default select menu values. Added a section in components3 for role select menus
  docpages/example_code/components3_rolemenu.cpp
  docpages/example_code/default_select_value.cpp
  docpages/example_programs/interactions_and_components/components-menu.md
  docpages/example_programs/interactions_and_components/components/components3.md
  docpages/example_programs/interactions_and_components/components/default_select_value.md
  docpages/images/default_select_value.png
  docpages/images/default_select_value_2.png
Labels: documentation

#950 fix: make modals work again by making to_json_impl and fill_from_json virtual
  include/dpp/appcommand.h
Labels: documentation, code

#953 feat: dpp::application is now updated, added set_iconhash_not_null
  include/dpp/application.h
  include/dpp/discordevents.h
  src/dpp/application.cpp
  src/dpp/discordevents.cpp
Labels: documentation, code

#954 feat!: updated integration to now contain more information
  include/dpp/integration.h
  src/dpp/integration.cpp
Labels: documentation, breaking, code

#956 fix: fix interaction_modal_response's ambiguous to_json
  include/dpp/appcommand.h
Labels: bug, code

#955 docs: added a note to setting_status for guild cache
  docpages/example_programs/misc/setting_status.md
Labels: documentation

#961 fix: make embed color optional
  include/dpp/message.h
  src/dpp/message.cpp
Labels: bug, code

#948 refactor: cleaned up Unit Tests
  src/unittest/cache.cpp
  src/unittest/discord_objects.cpp
  src/unittest/errors.cpp
  src/unittest/gateway_events.cpp
  src/unittest/http.cpp
  src/unittest/test.cpp
  src/unittest/test.h
  src/unittest/utilities.cpp
Labels: documentation, build, code

#964 docs: comments are now more specific in code style.
  docpages/advanced_reference/coding_style_standards.md
  docpages/example_code/coding_style_standards/comments.cpp
  docpages/example_code/coding_style_standards/curly_braces.cpp
  docpages/example_code/coding_style_standards/dot_notation.cpp
  docpages/example_code/coding_style_standards/fluent_design.cpp
  docpages/example_code/coding_style_standards/fluent_design2.cpp
  docpages/example_code/coding_style_standards/lists.cpp
  docpages/example_code/coding_style_standards/symbol_exporting.cpp
Labels: documentation

#963 feat: support subcommand autocomplete
  src/dpp/events/interaction_create.cpp
Labels: bug, code

#959 feat: added roles to emojis
  include/dpp/emoji.h
  src/dpp/emoji.cpp
Labels: documentation, breaking, code

#960 feat: added application and following support for webhooks.
  include/dpp/webhook.h
  src/dpp/cluster/webhook.cpp
  src/dpp/webhook.cpp
Labels: documentation, code

#966 Revert "refactor: cleaned up Unit Tests"
  src/unittest/cache.cpp
  src/unittest/discord_objects.cpp
  src/unittest/errors.cpp
  src/unittest/gateway_events.cpp
  src/unittest/http.cpp
  src/unittest/test.cpp
  src/unittest/test.h
  src/unittest/utilities.cpp
Labels: bug

#968 fix, test: multiheader-cookie test, now queries a domain and url in our control which returns 3 hard coded test cookies
  src/unittest/test.cpp
Labels: code

#958 refactor(coro): deprecate dpp::job handler & push dpp::task instead, and remove static_assert in dpp::job
  docpages/example_code/coro_awaiting_events.cpp
  docpages/example_code/coro_expiring_buttons.cpp
  docpages/example_code/coro_intro.cpp
  docpages/example_code/coro_simple_commands1.cpp
  docpages/example_code/coro_simple_commands2.cpp
  docpages/example_programs/using_coroutines/coro_introduction.md
  include/dpp/coro.h
  include/dpp/coro/async.h
  include/dpp/coro/coroutine.h
  include/dpp/coro/job.h
  include/dpp/coro/task.h
  include/dpp/event_router.h
  include/dpp/export.h
  include/dpp/utility.h
  src/unittest/coro.cpp
Labels: code

#970 feat: removed version_checker for UE.
  include/dpp/restresults.h
Labels: documentation, code

#969 feat: added support for Premium App Subscriptions
  .cspell.json
  include/dpp/appcommand.h
  include/dpp/cluster.h
  include/dpp/cluster_coro_calls.h
  include/dpp/cluster_sync_calls.h
  include/dpp/dispatcher.h
  include/dpp/entitlement.h
  include/dpp/event.h
  include/dpp/restresults.h
  include/dpp/sku.h
  src/dpp/cluster/entitlement.cpp
  src/dpp/cluster/sku.cpp
  src/dpp/cluster_coro_calls.cpp
  src/dpp/cluster_sync_calls.cpp
  src/dpp/discordevents.cpp
  src/dpp/entitlement.cpp
  src/dpp/events/entitlement_create.cpp
  src/dpp/events/entitlement_delete.cpp
  src/dpp/events/entitlement_update.cpp
  src/dpp/sku.cpp
  src/dpp/slashcommand.cpp
Labels: documentation, enhancement, code

#965 fix(#957): support iconhash/image data variant fields
  include/dpp/emoji.h
  include/dpp/guild.h
  include/dpp/role.h
  include/dpp/scheduled_event.h
  include/dpp/user.h
  include/dpp/utility.h
  src/dpp/emoji.cpp
  src/dpp/guild.cpp
  src/dpp/role.cpp
  src/dpp/scheduled_event.cpp
  src/dpp/utility.cpp
  src/unittest/test.cpp
  src/unittest/test.h
  src/unittest/unittest.cpp
Labels: bug, enhancement, code

#973 ci: fix vcpkg surely
  library-vcpkg/CMakeLists.txt
Labels: build, packaging

#975 style: refactored comments in several files to follow standard
  include/dpp/appcommand.h
  include/dpp/application.h
  include/dpp/automod.h
  include/dpp/ban.h
  include/dpp/cache.h
  include/dpp/coro/async.h
  include/dpp/coro/coro.h
  include/dpp/coro/coroutine.h
  include/dpp/coro/job.h
  include/dpp/coro/task.h
  include/dpp/coro/when_any.h
  include/dpp/sku.h
  include/dpp/wsclient.h
Labels: documentation, code

#974 refactor: renamed inner_emoji, changed select_menu and component to use it.
  include/dpp/message.h
Labels: documentation, code

#977 style: refactored comments part 2
  include/dpp/auditlog.h
  include/dpp/channel.h
  include/dpp/collector.h
  include/dpp/colors.h
  include/dpp/commandhandler.h
  include/dpp/discordevents.h
  include/dpp/discordvoiceclient.h
  include/dpp/dispatcher.h
  include/dpp/dtemplate.h
  include/dpp/emoji.h
  include/dpp/entitlement.h
  include/dpp/etf.h
  include/dpp/event.h
  include/dpp/event_router.h
Labels: documentation, code

#980 fix: exorcised the scary head. halloween is over
  include/dpp/cluster.h
  include/dpp/export.h
  include/dpp/restresults.h
  src/dpp/cluster.cpp
Labels: enhancement, code
