Repository brainboxdotcc/DPP, pull requests merged in 2024-10, with the labels that each got.

#1260 Feat/dave downgrade-upgrade
  src/dpp/discordvoiceclient.cpp
  src/dpp/voice/enabled/enabled.h
  src/dpp/voice/enabled/handle_frame.cpp
Labels: documentation, code

#1262 Feat: Implementing named commands handlers for the cluster
  include/dpp/cluster.h
  src/dpp/cluster.cpp
Labels: documentation, hacktoberfest-accepted, code

#1263 refactor(deprecation): officially deprecate commandhandler
  docpages/example_code/CMakeLists.txt
  include/dpp/commandhandler.h
Labels: documentation, code

#1266 refactor: remove unused debug variable
  src/dpp/voice/enabled/opus.cpp
Labels: audio, code

#1267 docs: prevent "The Windows 7 Incident"
  README.md
Labels: documentation

#1268 fix: crash in threads_get_public_archived
  src/dpp/thread.cpp
Labels: bug, code

#1272 fix: vcpkg is always built with voice
  library-vcpkg/CMakeLists.txt
Labels: audio, build, packaging

#1276 DAVE user join/part
  include/dpp/discordvoiceclient.h
  src/dpp/discordvoiceclient.cpp
  src/dpp/voice/enabled/enabled.h
  src/dpp/voice/enabled/handle_frame.cpp
  src/dpp/voice/enabled/opus.cpp
Labels: documentation, audio, code, DAVE

#1279 docs: update roadmap
  docpages/advanced_reference/roadmap.md
Labels: documentation

#1280 refactor(breaking): Deprecate sync calls
  buildtools/classes/Generator/SyncGenerator.php
  include/dpp/cluster_sync_calls.h
  src/unittest/test.cpp
Labels: documentation, build, code

#1285 refactor: libdave camel massacre 🐪🔪
  src/dpp/dave/array_view.h
  src/dpp/dave/cipher_interface.cpp
  src/dpp/dave/cipher_interface.h
  src/dpp/dave/codec_utils.cpp
  src/dpp/dave/cryptor_manager.cpp
  src/dpp/dave/cryptor_manager.h
  src/dpp/dave/decryptor.cpp
  src/dpp/dave/decryptor.h
  src/dpp/dave/encryptor.cpp
  src/dpp/dave/encryptor.h
  src/dpp/dave/frame_processors.cpp
  src/dpp/dave/frame_processors.h
  src/dpp/dave/key_ratchet.h
  src/dpp/dave/leb128.cpp
  src/dpp/dave/leb128.h
  src/dpp/dave/mls_key_ratchet.cpp
  src/dpp/dave/mls_key_ratchet.h
  src/dpp/dave/openssl_aead_cipher.cpp
  src/dpp/dave/openssl_aead_cipher.h
  src/dpp/dave/parameters.cpp
  src/dpp/dave/parameters.h
  src/dpp/dave/persisted_key_pair.cpp
  src/dpp/dave/persisted_key_pair.h
  src/dpp/dave/persisted_key_pair_generic.cpp
  src/dpp/dave/scope_exit.h
  src/dpp/dave/session.cpp
  src/dpp/dave/session.h
  src/dpp/dave/user_credential.cpp
  src/dpp/dave/user_credential.h
  src/dpp/dave/util.cpp
  src/dpp/dave/util.h
  src/dpp/dave/version.cpp
  src/dpp/dave/version.h
Labels: documentation, audio, code

#1286 docs: add docblock comments to all libdave class variables
  src/dpp/dave/array_view.h
  src/dpp/dave/cipher_interface.cpp
  src/dpp/dave/cipher_interface.h
  src/dpp/dave/clock.h
  src/dpp/dave/codec_utils.cpp
  src/dpp/dave/codec_utils.h
  src/dpp/dave/cryptor_manager.h
  src/dpp/dave/decryptor.h
  src/dpp/dave/encryptor.cpp
  src/dpp/dave/encryptor.h
  src/dpp/dave/frame_processors.cpp
  src/dpp/dave/frame_processors.h
  src/dpp/dave/leb128.cpp
  src/dpp/dave/parameters.h
  src/dpp/dave/persisted_key_pair_generic.cpp
  src/dpp/dave/session.h
  src/dpp/voice/enabled/discover_ip.cpp
Labels: documentation, code

#1287 fix: fix broken vcpkg builds which were failing because they were trying to compile as static
  CMakeLists.txt
  library-vcpkg/CMakeLists.txt
  library/CMakeLists.txt
  mlspp/CMakeLists.txt
Labels: build, packaging

#1288 doc: Extend Coroutine Documentation
  docpages/example_programs/using_coroutines/coro_introduction.md
Labels: documentation

#1292 Added NOMINMAX to CMakeLists.txt
  CMakeLists.txt
Labels: build

#1290 fix: fix broken static builds
  cmake/FindOpus.cmake
  include/dpp/isa/fallback.h
  library/CMakeLists.txt
Labels: build

#1293 feat: added approximate_user_install_count field to application
  include/dpp/application.h
  src/dpp/application.cpp
Labels: documentation, code

#1289 Feat/no user join ready dave
  include/dpp/cluster.h
  include/dpp/discordvoiceclient.h
  include/dpp/dispatcher.h
  src/dpp/discordvoiceclient.cpp
  src/dpp/voice/enabled/courier_loop.cpp
  src/dpp/voice/enabled/handle_frame.cpp
  src/dpp/voice/enabled/opus.cpp
  src/dpp/voice/enabled/read_ready.cpp
  src/dpp/voice/enabled/read_write.cpp
  src/dpp/voice/enabled/write_ready.cpp
  src/dpp/voice/stub/stubs.cpp
  src/unittest/test.cpp
Labels: documentation, code

#1223 User-installed commands
  include/dpp/appcommand.h
  include/dpp/application.h
  include/dpp/integration.h
  include/dpp/message.h
  src/dpp/application.cpp
  src/dpp/message.cpp
  src/dpp/slashcommand.cpp
Labels: documentation, code

#1305 docs: add documentation page for creating user app commands!
  docpages/example_code/user_apps.cpp
  docpages/example_programs/interactions_and_components.md
  docpages/example_programs/interactions_and_components/user_apps.md
  docpages/images/user_apps_1.png
  docpages/images/user_apps_2.png
  docpages/images/user_apps_3.png
  docpages/images/user_apps_4.png
Labels: documentation

#1306 Fix/dave segfault
  src/dpp/voice/enabled/handle_frame.cpp
Labels: code

#1307 refactor: dont use strings and uint64_t in dave, use snowflake type
  include/dpp/discordvoiceclient.h
  src/dpp/dave/session.cpp
  src/dpp/dave/session.h
  src/dpp/voice/enabled/handle_frame.cpp
Labels: documentation, audio, code, DAVE

#1308 feat: conan 2.x recipe
  CMakeLists.txt
  conanfile.py
  library/CMakeLists.txt
Labels: build, packages

#1311 docs: conan badge
  README.md
Labels: documentation

#1070 docs: Install with conan doc pages
  docpages/03_installing.md
  docpages/install/install-conan.md
Labels: documentation, Stale

#1312 fix: commands should no longer crash when no context is defined
  src/dpp/slashcommand.cpp
Labels: bug, code

#1313 fix: neon now compiles
  include/dpp/isa/neon.h
Labels: bug, documentation, code

#1314 fix: missing ctime in sslclient.h breaks on void linux
  include/dpp/sslclient.h
Labels: documentation, code
