Repository brainboxdotcc/DPP, pull requests merged in 2024-02, with the labels that each got.

#1078 fix: it's going to be OK
  src/dpp/httpsclient.cpp
Labels: documentation, github_actions, code, packaging

#1079 [fix] default callback parameters
  include/dpp/cluster.h
Labels: bug, code

#1081 [feat] alter set_allowed_mentions
  include/dpp/message.h
Labels: documentation, code

#1077 fix: fix bug in human readable errors
  src/dpp/cluster/confirmation.cpp
Labels: code

#1082 fix: Fixed getting archived threads
  src/dpp/cluster/thread.cpp
Labels: code

#1083 Added change_voice_channel to discordclient
  include/dpp/discordclient.h
  src/dpp/discordclient.cpp
Labels: documentation, code

#1087 FIX: Potential uninitialised value returned if empty string passed to from_string<T>()
  .cspell.json
  .vscode/settings.json
  include/dpp/stringops.h
  include/dpp/unicode_emoji.h
Labels: documentation, code

#1089 fix: ts_not_null now works for all timezones
  src/dpp/discordevents.cpp
Labels: code
