Repository brainboxdotcc/DPP, pull requests merged in 2024-08, with the labels that each got.

#1211 docs: create Gentoo installation tutorial
  docpages/03_installing.md
  docpages/install/install-gentoo-portage.md
Labels: documentation

#1218 docs: Fix unnecessary include of fmt in mp3 example
  docpages/example_code/mp3.cpp
Labels: documentation

#1219 fix(coro): fix an oopsie
  include/dpp/coro/awaitable.h
Labels: documentation, code

#1220 docs: Change init to create
  docpages/install/install-xmake.md
Labels: documentation

#1203 feat: std::format support for dpp::snowflake
  CMakeLists.txt
  include/dpp/snowflake.h
  library/CMakeLists.txt
  src/unittest/test.cpp
  src/unittest/test.h
Labels: documentation, code

#1225 Adding Arm-Neon implementation.
  cmake/DetectArchitecture.cmake
  include/dpp/isa/neon.h
  include/dpp/isa_detection.h
  src/dpp/voicestate.cpp
Labels: documentation, build, code

#1226 Adding fix to arm-neon bug.
  include/dpp/isa/neon.h
Labels: documentation, code

#1228 fix: incorrect comment
  docpages/example_code/commandhandler.cpp
Labels: documentation

#1231 fix: fix guild_member::get_avatar_url() (#1230)
  src/dpp/guild.cpp
Labels: code

#1232 fix: fix requests fizzling if the response doesn't contain Content-Length
  src/dpp/httpsclient.cpp
Labels: code
