Repository brainboxdotcc/DPP, pull requests merged in 2024-12, with the labels that each got.

#1339 fix/sslclient-spinlock
  src/dpp/sslclient.cpp
  src/dpp/wsclient.cpp
Labels: documentation, code

#1345 ci: OSX now only tests on clang15
  .github/workflows/ci.yml
Labels: github_actions

#1338 fix BUILD_VOICE_SUPPORT=OFF static build
  library/CMakeLists.txt
Labels: build

#1346 fix: unitialized sent_stop_frames causing nasty pause/play playback confusion
  src/dpp/voice/enabled/constructor.cpp
Labels: code

#1351 fix: coro timers ez pz lemon squeezy
  include/dpp/cluster.h
  include/dpp/zlibcontext.h
  src/dpp/cluster/timer.cpp
  src/dpp/socketengines/poll.cpp
  src/unittest/test.cpp
Labels: documentation, code

#1350 fix: thread safety for event objects (10.1 only)
  docpages/example_code/collect_reactions.cpp
  include/dpp/collector.h
  include/dpp/dispatcher.h
  src/davetest/dave.cpp
  src/dpp/events/channel_create.cpp
  src/dpp/events/channel_delete.cpp
  src/dpp/events/channel_pins_update.cpp
  src/dpp/events/channel_update.cpp
  src/dpp/events/guild_ban_add.cpp
  src/dpp/events/guild_ban_remove.cpp
  src/dpp/events/guild_create.cpp
  src/dpp/events/guild_emojis_update.cpp
  src/dpp/events/guild_integrations_update.cpp
  src/dpp/events/guild_member_add.cpp
  src/dpp/events/guild_member_remove.cpp
  src/dpp/events/guild_member_update.cpp
  src/dpp/events/guild_members_chunk.cpp
  src/dpp/events/guild_role_create.cpp
  src/dpp/events/guild_role_delete.cpp
  src/dpp/events/guild_role_update.cpp
  src/dpp/events/guild_stickers_update.cpp
  src/dpp/events/guild_update.cpp
  src/dpp/events/message_delete_bulk.cpp
  src/dpp/events/message_reaction_add.cpp
  src/dpp/events/message_reaction_remove.cpp
  src/dpp/events/message_reaction_remove_all.cpp
  src/dpp/events/message_reaction_remove_emoji.cpp
  src/dpp/events/thread_create.cpp
  src/dpp/events/thread_delete.cpp
  src/dpp/events/thread_update.cpp
  src/dpp/events/typing_start.cpp
  src/dpp/events/webhooks_update.cpp
  src/unittest/test.cpp
Labels: documentation, code

#1352 fix: large https request body could not be sent
  .clang-tidy
  .github/workflows/ci.yml
  include/dpp/sslclient.h
  src/dpp/cluster.cpp
  src/dpp/discordclient.cpp
  src/dpp/dispatcher.cpp
  src/dpp/events/ready.cpp
  src/dpp/httpsclient.cpp
  src/dpp/sslclient.cpp
  src/dpp/utility.cpp
  src/dpp/voice/enabled/courier_loop.cpp
  src/dpp/voice/enabled/read_ready.cpp
  src/unittest/test.cpp
Labels: documentation, code

#1353 feat: socket engine stats functions
  include/dpp/socketengine.h
  src/dpp/socketengine.cpp
  src/dpp/socketengines/epoll.cpp
  src/dpp/socketengines/kqueue.cpp
  src/dpp/socketengines/poll.cpp
  src/dpp/wsclient.cpp
Labels: documentation, code

#1354 fix: make sure write events go out as soon as they can
  src/dpp/sslclient.cpp
  src/dpp/wsclient.cpp
Labels: audio, code
