Repository brainboxdotcc/DPP, pull requests merged in 2024-05, with the labels that each got.

#1135 fix: fix human_readable for good
  include/dpp/restresults.h
  src/dpp/cluster/confirmation.cpp
  src/unittest/test.cpp
Labels: code

#1136 feat: poll support
  include/dpp/cluster.h
  include/dpp/cluster_coro_calls.h
  include/dpp/dispatcher.h
  include/dpp/event.h
  include/dpp/message.h
  include/dpp/restrequest.h
  src/dpp/cluster/message.cpp
  src/dpp/cluster_coro_calls.cpp
  src/dpp/discordevents.cpp
  src/dpp/events/message_poll_vote_add.cpp
  src/dpp/events/message_poll_vote_remove.cpp
  src/dpp/message.cpp
  src/unittest/test.cpp
  src/unittest/test.h
Labels: documentation, code

#1127 Fix/uncleared track meta on stop audio
  src/dpp/discordvoiceclient.cpp
Labels: code

#1123 fix: Signal Handlers on Non-Windows Platforms in sslclient
  src/dpp/sslclient.cpp
Labels: code

#1126 fix: error in logging with malformed json that doesnt fit the structure for an error
  src/dpp/utility.cpp
Labels: code

#1144 ci: Mac runner removal
  .github/workflows/ci.yml
Labels: github_actions

#1148 FIX: Silence GUILD_SOUNDBOARD_* websocket events, currently undocumented
  src/dpp/discordevents.cpp
Labels: enhancement, audio, code

#1128 Added an example on how to edit an embed
  docpages/example_code/editing_messages1.cpp
  docpages/example_code/editing_messages2.cpp
  docpages/example_code/editing_messages3.cpp
  docpages/example_programs/the_basics/editing-channels-and-messages.md
  docpages/images/stuff_edit1.png
  docpages/images/stuff_edit2.png
  docpages/images/stuff_edit3.png
  docpages/images/stuff_edit4.png
  docpages/images/stuff_edit5.png
  docpages/images/stuff_edit6.png
Labels: documentation

#1151 Updated autocomplete tutorial
  docpages/example_code/autocomplete.cpp
Labels: documentation

#1152 FIX: poll conflicting with dpp::poll
  src/dpp/sslclient.cpp
Labels: code
