Repository brainboxdotcc/DPP, pull requests merged in 2024-07, with the labels that each got.

#1169 feat: added warnings for certain events that require an intent
  src/dpp/cluster.cpp
Labels: code

#1186 feat: Add request_timeout, a parameter as optional to `cluster::request()` which allows user to set `http_client::timeout` and add error message for request timeouts
  buildtools/classes/Generator/CoroGenerator.php
  include/dpp/cluster.h
  include/dpp/cluster_coro_calls.h
  include/dpp/httpsclient.h
  include/dpp/queues.h
  src/dpp/cluster.cpp
  src/dpp/cluster_coro_calls.cpp
  src/dpp/httpsclient.cpp
  src/dpp/queues.cpp
Labels: documentation, build, code

#1187 fix: fix leak of in_thread, fix read-after-free, fix race condition UB after cluster shutdown
  include/dpp/queues.h
  src/dpp/queues.cpp
Labels: documentation, code

#1190 Updated libsodium version for rpm packages to latest
  cmake/CPackSetup.cmake
Labels: bug, build

#1192 Add XBPS docs
  .cspell.json
  README.md
  docpages/03_installing.md
  docpages/install/install-void-xbps.md
Labels: documentation

#1194 fix: add packets_left count
  include/dpp/dispatcher.h
  src/dpp/discordvoiceclient.cpp
  src/unittest/test.cpp
Labels: documentation, code

#1195 fix: compilation on clang-19
  include/dpp/dispatcher.h
  src/dpp/discordvoiceclient.cpp
  src/dpp/dispatcher.cpp
Labels: documentation, code

#1193 fix: unit tests are now built statically when BUILD_SHARED_LIBS is off
  library/CMakeLists.txt
Labels: build

#1198 ci: allow runners to use mold, increased concurrency to 4
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Labels: github_actions

#1197 feat: banners can now be uploaded to bots
  include/dpp/cluster.h
  include/dpp/cluster_coro_calls.h
  include/dpp/cluster_sync_calls.h
  include/dpp/misc-enum.h
  src/dpp/cluster/user.cpp
  src/dpp/cluster_coro_calls.cpp
  src/dpp/cluster_sync_calls.cpp
Labels: documentation, code

#1200 fix(test): fix ban unit tests to be dependent upon each other
  src/unittest/test.cpp
  src/unittest/test.h
Labels: bug, code

#1196 feat(coro): coro 2.0
  include/dpp/coro.h
  include/dpp/coro/async.h
  include/dpp/coro/awaitable.h
  include/dpp/coro/coro.h
  include/dpp/coro/coroutine.h
  include/dpp/coro/task.h
  include/dpp/event_router.h
  include/dpp/export.h
  include/dpp/misc-enum.h
  src/coro_loop/coro_loop.cpp
  src/dpp/cluster.cpp
  src/unittest/coro.cpp
  src/unittest/test.h
Labels: documentation, code

#1204 ci: Added a clang++15 osx job, fixed clang++14 job.
  .github/workflows/ci.yml
Labels: github_actions

#1163 docs: added a page for editing messages from a button click
  docpages/example_code/editing_message_after_click.cpp
  docpages/example_code/editing_message_after_click2.cpp
  docpages/example_programs/interactions_and_components/components-menu.md
  docpages/example_programs/interactions_and_components/components/editing_message_after_click.md
Labels: documentation

#1205 docs: Remove XBPS coroutine section
  docpages/install/install-void-xbps.md
Labels: documentation

#1206 ci: added clang16-18 jobs for Linux, added clang16 for OSX
  .github/workflows/ci.yml
Labels: github_actions

#1202 fix(qol): shut up soundboard events
  src/dpp/discordevents.cpp
Labels: code

#1209 feat: Added file size limit to avatars and banners
  include/dpp/user.h
  src/dpp/cluster/user.cpp
Labels: documentation, code

#1208 feat: timeout is now 20 seconds. Users can now change the timeout length
  include/dpp/cluster.h
  include/dpp/queues.h
  src/dpp/cluster.cpp
  src/dpp/queues.cpp
Labels: documentation, code

#1207 feat: Added support for application emojis
  include/dpp/cluster.h
  include/dpp/cluster_coro_calls.h
  include/dpp/cluster_sync_calls.h
  src/dpp/cluster/emoji.cpp
  src/dpp/cluster_coro_calls.cpp
  src/dpp/cluster_sync_calls.cpp
Labels: documentation, code

#1210 refactor: readability changes to sslclient and wsclient
  include/dpp/sslclient.h
  include/dpp/wsclient.h
  src/dpp/sslclient.cpp
  src/dpp/wsclient.cpp
Labels: documentation, code
