Repository brainboxdotcc/DPP, pull requests merged in 2024-06, with the labels that each got.

#1162 docs: set_allow_multiselect is now correctly documented
  include/dpp/message.h
Labels: documentation, code

#1161 docs: changed wording of token page
  docpages/make_a_bot/token.md
Labels: documentation

#1165 Add result_type member type to dpp::task
  include/dpp/coro/async.h
  include/dpp/coro/coroutine.h
  include/dpp/coro/task.h
Labels: documentation, code

#1168 Update Docker image to Ubuntu 24.04 LTS
  Dockerfile
Labels: packaging

#1170 feat: Added consuming an entitlement
  include/dpp/cluster.h
  include/dpp/cluster_coro_calls.h
  include/dpp/cluster_sync_calls.h
  src/dpp/cluster/entitlement.cpp
  src/dpp/cluster_coro_calls.cpp
  src/dpp/cluster_sync_calls.cpp
Labels: documentation, code

#1171 feat: add missing entitlement type enum values
  include/dpp/entitlement.h
Labels: documentation, enhancement, breaking, code

#1175 feat: new premium upsell button style
  include/dpp/appcommand.h
  include/dpp/message.h
  src/dpp/message.cpp
Labels: documentation, enhancement, code

#1176 feat: big number implementation, for future use in permissions bitfields
  include/dpp/bignum.h
  include/dpp/dpp.h
  src/dpp/bignum.cpp
  src/dpp/cluster/channel.cpp
  src/unittest/test.cpp
  src/unittest/test.h
Labels: documentation, enhancement, code

#1178 Use string_view for message object ctors + setters
  include/dpp/message.h
  src/dpp/message.cpp
Labels: documentation, code
