Repository brainboxdotcc/DPP, pull requests merged in 2024-11, with the labels that each got.

#1325 fix: FreeBSD port build issues
  mlspp/lib/hpke/CMakeLists.txt
  src/dpp/dave/persisted_key_pair_generic.cpp
Labels: bug, code

#1326 fix: two segmentation faults in cluster::guild_edit_member and cluster::tick_timers/cluster::shutdown
  src/dpp/cluster.cpp
  src/dpp/cluster/guild_member.cpp
Labels: bug, code

#1335 fix: dl.dpp.dev was not downloading rpms any more
  docpages/dl.dpp.dev/index.php
Labels: documentation

#1333 breaking: Updated dpp::role comparison operators to now consider role IDs
  docpages/example_programs/misc/checking-member-permissions.md
  include/dpp/cluster.h
  include/dpp/cluster_sync_calls.h
  include/dpp/role.h
  src/unittest/test.cpp
  src/unittest/test.h
Labels: documentation, code

#1336 docs: updated checking-permissions page and a view functions
  docpages/example_programs/misc/checking-member-permissions.md
  include/dpp/appcommand.h
  include/dpp/channel.h
  include/dpp/event_router.h
Labels: documentation, code

#1337 Fix/voice socketengine
  include/dpp/cluster.h
  src/dpp/cluster.cpp
  src/dpp/socketengines/epoll.cpp
  src/dpp/sslclient.cpp
  src/dpp/voice/enabled/read_write.cpp
  src/dpp/voice/enabled/write_ready.cpp
Labels: documentation, code
