Repository brainboxdotcc/DPP, pull requests merged in 2024-01, with the labels that each got.

#1058 docs: improve windows VS tutorials
  .cspell.json
  docpages/install/install-windows-vs-zip.md
  docpages/make_a_bot/windows_vs.md
Labels: documentation

#1064 feat: Added the ability to set voice channel statuses
  include/dpp/cluster.h
  include/dpp/cluster_coro_calls.h
  include/dpp/cluster_sync_calls.h
  src/dpp/cluster/channel.cpp
  src/dpp/cluster_coro_calls.cpp
  src/dpp/cluster_sync_calls.cpp
Labels: enhancement, code

#1068 ci: labeler no longer fails
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: bug, github_actions

#1065 feat: Added expire and issued timestamps in attachment
  include/dpp/message.h
  src/dpp/message.cpp
Labels: enhancement, code
