Repository brainboxdotcc/DPP, pull requests merged in 2024-03, with the labels that each got.

#1100 feat: add embed-only message ctor
  include/dpp/message.h
  src/dpp/message.cpp
Labels: documentation, code

#1102 fix: correct wrong linking order to fix static build
  library/CMakeLists.txt
Labels: build

#1092 docs: added a thinking page
  docpages/example_code/thinking.cpp
  docpages/example_programs/interactions_and_components.md
  docpages/example_programs/interactions_and_components/thinking.md
Labels: documentation

#1103 fix: get size of object instead of pointer
  include/dpp/cache.h
Labels: documentation, code

#1104 fix: out-of-bounds read of MIME types
  src/dpp/httpsclient.cpp
Labels: code

#1107 Ability to suppress embeds
  include/dpp/cluster.h
  include/dpp/message.h
  src/dpp/cluster/message.cpp
  src/dpp/message.cpp
Labels: documentation, code

#1110 docs: fixed missing/incorrect params for many functions
  include/dpp/cluster.h
  include/dpp/cluster_coro_calls.h
  include/dpp/cluster_sync_calls.h
  include/dpp/coro/coroutine.h
  include/dpp/discordevents.h
  include/dpp/discordvoiceclient.h
  include/dpp/emoji.h
  include/dpp/event_router.h
  include/dpp/guild.h
  include/dpp/httpsclient.h
  include/dpp/prune.h
  include/dpp/role.h
  include/dpp/scheduled_event.h
  include/dpp/sku.h
  include/dpp/sslclient.h
  include/dpp/utility.h
  src/dpp/cluster_coro_calls.cpp
  src/dpp/cluster_sync_calls.cpp
Labels: documentation, code

#1111 docs: rewrote the CLion VCPKG page to use VS toolchain
  docpages/03_installing.md
  docpages/04_building_a_bot.md
  docpages/images/clionvstoolchain.png
  docpages/images/clionvstoolchain2.png
  docpages/install/install-vcpkg.md
  docpages/install/install-windows-clion-vcpkg.md
  docpages/make_a_bot/clion_windows.md
Labels: documentation

#1112 fix memory leak on libstdc++
  include/dpp/queues.h
  src/dpp/cluster.cpp
  src/dpp/queues.cpp
Labels: documentation, code

#1109 feat: Added is_guild_owner for dpp::guild_member
  include/dpp/guild.h
  src/dpp/guild.cpp
Labels: documentation, code
