Repository brainboxdotcc/DPP, pull requests merged in 2024-09, with the labels that each got.

#1229 fix: Improve compatiblity with socket
  include/dpp/export.h
  include/dpp/socket.h
Labels: documentation, code

#1244 ci: fix mac xcode version
  .github/workflows/ci.yml
Labels: github_actions

#1243 fix: Added missing include to awaitable.h
  include/dpp/coro/awaitable.h
Labels: documentation, code

#1245 ci: add clang-19-libc++ as manual install
  .github/workflows/ci.yml
Labels: github_actions

#1242 feat: XChaCha20 voice encryption
  include/dpp/discordvoiceclient.h
  src/dpp/discordvoiceclient.cpp
Labels: code

#1239 feat: Change encryption to AEAD XChaCha20 Poly1305
  include/dpp/discordvoiceclient.h
  src/dpp/discordvoiceclient.cpp
Labels: code

#1246 ci: more secure llvm19 install process
  .github/workflows/ci.yml
Labels: github_actions

#1247 Message forwarding
  include/dpp/message.h
  src/dpp/message.cpp
Labels: documentation, code

#1248 bump audio version to v8 from v4
  src/dpp/discordvoiceclient.cpp
Labels: code

#1249 feat: receive_sequence for v8 voice gateway
  include/dpp/discordvoiceclient.h
  src/dpp/discordvoiceclient.cpp
Labels: documentation, code

#1250 Docs: Fix embeds.cpp not required intent + add cout logger
  docpages/example_code/embeds.cpp
Labels: documentation

#1221 docs: Remove coroutine/DPP_CORO experimental warnings
  CMakeLists.txt
  docpages/include/coro_warn.dox
  library/CMakeLists.txt
Labels: documentation, build
