Repository brainboxdotcc/DPP, pull requests merged in 2025-02, with the labels that each got.

#1375 docs: fix codacy badge
  README.md
Labels: documentation

#1376 Added user_id to message_reaction_add_t
  src/dpp/events/message_reaction_add.cpp
Labels: documentation, code

#1368 feat: Coro is now default enabled.
  .cspell.json
  .gitignore
  CMakeLists.txt
  Doxyfile
  buildtools/classes/Generator/CoroGenerator.php
  docpages/01_frequently_asked_questions.md
  docpages/advanced_reference/coding_style_standards.md
  docpages/building/freebsd.md
  docpages/building/linux.md
  docpages/building/osx.md
  docpages/example_code/eval.cpp
  docpages/example_programs/misc/eval.md
  docpages/example_programs/music_and_audio/mp3.md
  docpages/example_programs/the_basics/firstbot.md
  docpages/example_programs/using_coroutines.md
  docpages/include/coro_warn.dox
  docpages/install/install-brew.md
  docpages/install/install-windows-vs-zip.md
  docpages/make_a_bot/meson.md
  docpages/make_a_bot/replit.md
  docpages/make_a_bot/windows_vs.md
  docpages/make_a_bot/windows_wsl.md
  include/dpp/cluster.h
  include/dpp/coro/async.h
  include/dpp/coro/awaitable.h
  include/dpp/coro/coro.h
  include/dpp/coro/coroutine.h
  include/dpp/coro/job.h
  include/dpp/coro/task.h
  include/dpp/coro/when_any.h
  include/dpp/dispatcher.h
  include/dpp/event_router.h
  include/dpp/exception.h
  library/CMakeLists.txt
  src/coro_loop/coro_loop.cpp
  src/dpp/cluster.cpp
  src/dpp/cluster/timer.cpp
  src/dpp/cluster_coro_calls.cpp
  src/dpp/dispatcher.cpp
  src/dpp/utility.cpp
  src/unittest/coro.cpp
  src/unittest/test.h
Labels: documentation, build, code

#1378 improv: detect c++17 to define DPP_NO_CORO at the point of usage
  .gitignore
  include/dpp/coro/coro.h
  include/dpp/export.h
  library/CMakeLists.txt
  mlspp/include/namespace.h
Labels: documentation, code

#1380 fix: oauth2_install_params in current_application_get() could not be parsed
  include/dpp/application.h
  include/dpp/integration.h
  mlspp/include/namespace.h
  src/dpp/application.cpp
  src/unittest/test.cpp
  src/unittest/test.h
Labels: bug, documentation, code

#1381 feat: components v2
  docpages/example_code/components_v2.cpp
  docpages/example_programs/interactions_and_components/components-menu.md
  docpages/example_programs/interactions_and_components/components/components_v2.md
  docpages/images/components.gif
  include/dpp/message.h
  src/dpp/cluster/webhook.cpp
  src/dpp/message.cpp
  src/userapptest/userapp.cpp
Labels: documentation, enhancement, code

#1384 fix: dont allow bot.start on a started cluster
  src/dpp/cluster.cpp
Labels: code

#1383 fix: we never remove fds that want deletion
  src/dpp/socketengines/poll.cpp
Labels: code

#1386 fix redefinition of DPP_NO_CORO
  include/dpp/export.h
Labels: documentation, code

#1385 fix: deny user ability to set certain headers
  src/dpp/httpsclient.cpp
Labels: code

#1387 build: update actions to remove some use of 20.04
  .github/workflows/ci.yml
  cmake/LINUXx86ToolChain.cmake
Labels: github_actions, build

#1389 Fix include dir.
  src/dpp/socketengine.cpp
Labels: code
