Repository brainboxdotcc/DPP, pull requests merged in 2025-09, with the labels that each got.

#1479 ci: bump clang & xcode versions
  .github/workflows/ci.yml
Labels: github_actions

#1480 breaking: rewrote channel_get_pins, added Pin Message permission, updated pin endpoints.
  include/dpp/cluster.h
  include/dpp/message.h
  include/dpp/permissions.h
  include/dpp/restresults.h
  include/dpp/role.h
  src/dpp/cluster/message.cpp
  src/dpp/message.cpp
  src/dpp/role.cpp
  src/unittest/test.cpp
Labels: documentation, breaking, code

#1485 Fix D++ from stalling for a second before sending REST requests using poll.
  include/dpp/socketengine.h
  src/dpp/socketengine.cpp
  src/dpp/socketengines/poll.cpp
Labels: documentation, code
