Repository brainboxdotcc/DPP, pull requests merged in 2025-04, with the labels that each got.

#1404 require c++17
  CMakeLists.txt
Labels: build

#1415 fix(coro): fix when_any when an awaitable is already finished before co_await
  include/dpp/coro/awaitable.h
  include/dpp/coro/task.h
  include/dpp/coro/when_any.h
  include/dpp/http_server.h
  include/dpp/socket.h
  include/dpp/ssl_context.h
Labels: documentation, code

#1420 ci: update armv6 build to ubuntu 24.04, remove clang-10
  .github/workflows/ci.yml
  .github/workflows/documentation-check.yml
  cmake/ARMv6ToolChain.cmake
Labels: github_actions, build

#1421 docs: SORT_BRIEF_DOCS=YES
  Doxyfile
Labels: documentation

#1419 feat: Add avatar_url override for webhook struct, resolves #1416
  include/dpp/webhook.h
  src/dpp/cluster/webhook.cpp
Labels: documentation, code

#1423 refactor: make method and path in http_server_request protected instead of private
  include/dpp/http_server_request.h
  src/dpp/http_server_request.cpp
Labels: documentation, code

#1424 misc: execute on_stop callback of all timers on bot shutdown
  src/dpp/cluster.cpp
Labels: code

#1425 feat: implement event webhook fields in dpp::application class
  include/dpp/application.h
  src/dpp/application.cpp
Labels: documentation, code

#1427 feat: support for pre-generated component json, in the same way we support pre-generated embed json
  include/dpp/message.h
  src/dpp/message.cpp
Labels: documentation, code

#1426 fix: json parsing issues with string arrays in dpp::application
  src/dpp/application.cpp
  src/dpp/emoji.cpp
  src/dpp/integration.cpp
Labels: code
